<div [formGroupName]="setting.Name">
  <div class="row align-items-center">
    <label for="current" translate="{{ setting.Name }}" class="mb-0 col-sm-6"></label>
    <div class="col-sm-6">
      <input *ngIf="setting.DataType === 'str'" type="text" formControlName="current" class="mt-2 w-100 form-control" />
      <input
        *ngIf="setting.DataType === 'path'"
        type="text"
        formControlName="current"
        class="mt-2 w-100 form-control"
      />
      <input
        *ngIf="setting.DataType === 'int'"
        type="number"
        formControlName="current"
        class="mt-2 w-50 form-control"
      />
      <input *ngIf="setting.DataType === 'hex'" type="text" formControlName="current" class="mt-2 w-50 form-control" />
      <input *ngIf="setting.DataType === 'bool'" type="checkbox" formControlName="current" class="mt-2 w-50" />
    </div>
  </div>
</div>
