<div [formGroupName]="setting.Name">
  <div class="row">
    <div class="col">
      <label for="current" translate="{{ setting.Name }}"></label>
      <input *ngIf="setting.DataType === 'str'" type="text" formControlName="current" class="form-control" />
      <input *ngIf="setting.DataType === 'path'" type="text" formControlName="current" class="form-control" />
      <input *ngIf="setting.DataType === 'int'" type="number" formControlName="current" class="form-control" />
      <input *ngIf="setting.DataType === 'bool'" type="checkbox" formControlName="current" class="form-control" />
    </div>
  </div>
</div>
