<div *ngIf="setting.Advanced === false || advanced === setting.Advanced" [formGroupName]="setting.Name">
  <div *ngIf="setting.DataType === 'str'" class="form-group row mt-2">
    <label for="current" translate="{{ setting.Name }}" class="col-sm-6 col-form-label"></label>
    <div class="col-sm">
      <input type="text" formControlName="current" class="w-100 form-control" />
    </div>
  </div>
  <div *ngIf="setting.DataType === 'path'" class="form-group row mt-2">
    <label for="current" translate="{{ setting.Name }}" class="col-sm-6 col-form-label"></label>
    <div class="col-sm">
      <input type="text" formControlName="current" class="w-100 form-control" />
    </div>
  </div>
  <div *ngIf="setting.DataType === 'int'" class="form-group row mt-2">
    <label for="current" translate="{{ setting.Name }}" class="col-sm-6 col-form-label"></label>
    <div class="col-sm">
      <input type="number" formControlName="current" class="w-50 form-control" />
    </div>
  </div>
  <div *ngIf="setting.DataType === 'hex'" class="form-group row mt-2">
    <label for="current" translate="{{ setting.Name }}" class="col-sm-6 col-form-label"></label>
    <div class="col-sm">
      <input type="text" formControlName="current" class="w-50 form-control" />
    </div>
  </div>
  <div *ngIf="setting.DataType === 'list'" class="form-group row mt-2">
    <label for="current" translate="{{ setting.Name }}" class="col-sm-6 col-form-label"></label>
    <div class="col-sm">
      <ng-select
        [items]="list"
        [compareWith]="compareNumeric"
        bindLabel="label"
        bindValue="value"
        [closeOnSelect]="true"
        formControlName="current">
      </ng-select>
    </div>
  </div>
  <div *ngIf="setting.DataType === 'bool'" class="col-auto">
    <input formControlName="current" type="checkbox" class="form-control-checkbox" id="{{ setting.Name }}" />
    <label class="col-form-label" for="{{ setting.Name }}" translate="{{ setting.Name }}"></label>
  </div>
</div>
