<div class="mt-3">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col">
          <div class="card" *ngIf="chart1">
            <div class="card-header" translate="network.topo.visu.header"></div>
            <div class="card-body">
              <h5 class="card-title" [innerHTML]="'network.topo.visu.subtitle' | translate"></h5>
              <div class="card-text" [chart]="chart1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col">
          <div class="card" *ngIf="chart2">
            <div class="card-header" translate="network.topo.visu.network.header"></div>
            <div class="card-body">
              <h5 class="card-title" [innerHTML]="'network.topo.visu.network.subtitle' | translate"></h5>
              <div class="card-text">
                <div>
                  <form [formGroup]="form">
                    <input type="hidden" formControlName="detail" id="detail" />
                    <ng-select
                      [items]="devices"
                      [multiple]="false"
                      [closeOnSelect]="true"
                      [searchable]="true"
                      bindLabel="ZDeviceName"
                      bindValue="ZDeviceName"
                      placeholder="{{ 'network.topo.visu.network.filter' | translate }}"
                      appendTo="body"
                      formControlName="nodeToFilter"
                    >
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <span [ngOptionHighlight]="search">
                          <b>Name</b> : {{ item.ZDeviceName }} - <b>IEEE</b> : {{ item.IEEE }} - <b>Model</b> :
                          {{ item.Model }}
                        </span>
                      </ng-template>
                    </ng-select>
                  </form>
                </div>
                <br />
                <div *ngIf="showDetail">
                  <span class="font-weight-bold">
                    {{ 'device.byname.devicename.column' | translate }} : {{ device.ZDeviceName }} </span
                  ><br />
                  <span class="font-weight-bold">
                    {{ 'device.byname.health.column' | translate }} : {{ device.Health }} </span
                  ><br />
                  <span class="font-weight-bold">
                    {{ 'device.byname.model.column' | translate }} : {{ device.Model }} </span
                  ><br />
                  <span class="font-weight-bold">
                    {{ 'network.topo.device.signalelevel.column' | translate }} : {{ device2.SignaleLevel }}
                  </span>
                </div>
                <div [chart]="chart2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-3">
      <div class="row">
        <div class="col">
          <div class="card" *ngIf="chart1">
            <div class="card-header" translate="network.topo.device.visu.header"></div>
            <div class="card-body">
              <h5 class="card-title" [innerHTML]="'network.topo.device.visu.subtitle' | translate"></h5>
              <div class="card-text">
                <ngx-datatable
                  [rows]="devices2"
                  class="bootstrap"
                  [columnMode]="'force'"
                  [headerHeight]="40"
                  [footerHeight]="'auto'"
                  [limit]="10"
                  [rowHeight]="'auto'"
                  [messages]="{
                    emptyMessage: 'NODATA' | translate,
                    totalMessage: 'TOTAL' | translate,
                    selectedMessage: 'SELECTED' | translate
                  }"
                >
                  <ngx-datatable-column name="{{ 'network.topo.device.deviceid.column' | translate }}" prop="_DeviceID">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row._DeviceID }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'network.topo.device.id.column' | translate }}" prop="ID">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row.ID }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'network.topo.device.name.column' | translate }}" prop="Name">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row.Name }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="{{ 'network.topo.device.batterylevel.column' | translate }}"
                    prop="BatteryLevel"
                  >
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row.BatteryLevel }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    name="{{ 'network.topo.device.signalelevel.column' | translate }}"
                    prop="SignaleLevel"
                  >
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row.SignaleLevel }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'network.topo.device.timedout.column' | translate }}" prop="TimedOut">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row.TimedOut }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'network.topo.device.type.column' | translate }}" prop="Type">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row.Type }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'network.topo.device.nvalue.column' | translate }}" prop="nValue">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row.nValue }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'network.topo.device.svalue.column' | translate }}" prop="sValue">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row.sValue }}
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
