<div class="mt-3">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col">
          <div class="card" *ngIf="chart1">
            <div class="card-header" translate="network.topo.visu.header"></div>
            <div class="card-body">
              <h5 class="card-title" [innerHTML]="'network.topo.visu.subtitle' | translate"></h5>
              <div class="card-text" [chart]="chart1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col">
          <div class="card" *ngIf="chart2">
            <div class="card-header" translate="network.topo.visu.network.header"></div>
            <div class="card-body">
              <h5 class="card-title" [innerHTML]="'network.topo.visu.network.subtitle' | translate"></h5>
              <div class="card-text">
                <div>
                  <form [formGroup]="form">
                    <input type="hidden" formControlName="detail" id="detail" />
                    <ng-select
                      [items]="devices"
                      [multiple]="false"
                      [closeOnSelect]="true"
                      [searchable]="true"
                      bindLabel="ZDeviceName"
                      bindValue="ZDeviceName"
                      placeholder="{{ 'network.topo.visu.network.filter' | translate }}"
                      appendTo="body"
                      formControlName="nodeToFilter"
                    >
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <span [ngOptionHighlight]="search">
                          <b>Name</b> : {{ item.ZDeviceName }} - <b>IEEE</b> : {{ item.IEEE }} - <b>Model</b> :
                          {{ item.Model }}
                        </span>
                      </ng-template>
                    </ng-select>
                  </form>
                </div>
                <br />
                <div [chart]="chart2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-3" *ngIf="relationsSelected">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header" translate="network.topo.device.visu.header"></div>
            <div class="card-body">
              <h5 class="card-title" [innerHTML]="'network.topo.device.visu.subtitle' | translate"></h5>
              <div class="card-text">
                <ngx-datatable
                  [rows]="relationsSelected"
                  class="bootstrap"
                  [columnMode]="'force'"
                  [headerHeight]="40"
                  [footerHeight]="'auto'"
                  [limit]="10"
                  [rowHeight]="'auto'"
                  [messages]="{
                    emptyMessage: 'NODATA' | translate,
                    totalMessage: 'TOTAL' | translate,
                    selectedMessage: 'SELECTED' | translate
                  }"
                >
                  <ngx-datatable-column name="{{ 'from' | translate }}">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row.from }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'to' | translate }}">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row.to }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="{{ 'weight' | translate }}">
                    <ng-template ngx-datatable-cell-template let-row="row">
                      {{ row.weight }}
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
