<div class="row row-cols-1 row-cols-lg-2 g-4 mt-1">
  <div class="col">
    <div class="card" *ngIf="chart1">
      <div class="card-header fw-bold" translate="network.topo.visu.header"></div>
      <div class="card-body">
        <p class="card-text" [innerHTML]="'network.topo.visu.subtitle' | translate"></p>
        <div class="card-text" [chart]="chart1"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" *ngIf="chart2">
      <div class="card-header fw-bold" translate="network.topo.visu.network.header"></div>
      <div class="card-body">
        <p class="card-text" [innerHTML]="'network.topo.visu.network.subtitle' | translate"></p>
        <div class="card-text">
          <div>
            <form [formGroup]="form">
              <input type="hidden" formControlName="detail" id="detail" />
              <ng-select
                [items]="devices"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="true"
                bindLabel="ZDeviceName"
                bindValue="ZDeviceName"
                placeholder="{{ 'network.topo.visu.network.filter' | translate }}"
                appendTo="body"
                formControlName="nodeToFilter">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">
                    <b>Name</b> : {{ item.ZDeviceName }} - <b>IEEE</b> : {{ item.IEEE }} - <b>Model</b> :
                    {{ item.Model }}
                  </span>
                </ng-template>
              </ng-select>
            </form>
          </div>
          <div [chart]="chart2"></div>
          <div class="row" *ngIf="relationsSelected">
            <div class="col">
              <div class="card">
                <div
                  class="card-header fw-bold"
                  translate="network.topo.visu.network.relation.header"
                  [translateParams]="{ deviceSelected: selectedPoint.name }"></div>
                <div class="card-body">
                  <p class="card-text" [innerHTML]="'network.topo.visu.network.relation.subtitle' | translate"></p>
                  <div class="card-text">
                    <ngx-datatable
                      [rows]="relationsSelected"
                      class="bootstrap"
                      [columnMode]="'force'"
                      [footerHeight]="'auto'"
                      [limit]="10"
                      [rowHeight]="'auto'"
                      [sorts]="[{ prop: 'to', dir: 'asc' }]"
                      [messages]="{
                        emptyMessage: 'network.topo.visu.network.relation.nochild' | translate,
                        totalMessage: 'TOTAL' | translate,
                        selectedMessage: 'SELECTED' | translate
                      }">
                      <ngx-datatable-column name="{{ 'network.topo.visu.network.relation.to' | translate }}" prop="to">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          {{ row.to }}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column
                        name="{{ 'network.topo.visu.network.relation.weight' | translate }}"
                        prop="weight"
                        [maxWidth]="50">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          {{ row.weight }}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column
                        name="{{ 'network.topo.visu.network.relation.model' | translate }}"
                        prop="Model">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          {{ row.Model }}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column
                        name="{{ 'network.topo.visu.network.relation.status' | translate }}"
                        prop="Status"
                        [maxWidth]="100">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          {{ row.Status }}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column
                        name="{{ 'network.topo.visu.network.relation.health' | translate }}"
                        prop="Health">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          {{ row.Health }}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column
                        name="{{ 'network.topo.visu.network.relation.battery' | translate }}"
                        prop="Battery"
                        [maxWidth]="100">
                        <ng-template ngx-datatable-cell-template let-row="row">
                          {{ row.Battery }}
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
