<div class="col-sm">
  <form [formGroup]="form">
    <div class="card">
      <div class="card-header" translate="admin.permittojoinrouter.title"></div>
      <div class="card-body">
        <h5 class="card-title" translate="admin.permittojoinrouter.subtitle"></h5>
        <div class="card-text">
          <div class="row">
            <div class="col-sm">
              <ng-select
                [items]="routers"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="true"
                bindLabel="ZDeviceName"
                placeholder="{{ 'tools.debugcommand.device' | translate }}"
                formControlName="deviceSelected"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">
                    <b>Name</b> : {{ item.ZDeviceName }} - <b>NwkId</b> : {{ item._NwkId }}</span
                  >
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm">
              <button
                class="btn btn-success"
                (click)="updatePermitToJoin(240)"
                translate="admin.permittojoin.4min.button"
                [disabled]="!form.valid"
              ></button>
              <button
                class="ml-3 btn btn-secondary"
                (click)="updatePermitToJoin(0)"
                translate="admin.permittojoin.stop.button"
                [disabled]="permitToJoin?.PermitToJoin === 0"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
