<div class="card">
  <form [formGroup]="form">
    <div class="card-header" translate="admin.firmware.title"></div>
    <div class="card-body">
      <h5 class="card-title" [innerHTML]="'admin.firmware.subtitle' | translate"></h5>
      <div class="card-text">
        <div class="row">
          <div class="col-sm">
            <div>
              <ng-select
                [items]="manufacturerList$ | async"
                [multiple]="false"
                [closeOnSelect]="true"
                placeholder="{{ 'admin.firmware.manufacturer.list' | translate }}"
                appendTo="body"
                formControlName="manufacturer"
              >
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm">
            <div *ngIf="firmwares">
              <ng-select
                [items]="firmwares"
                [multiple]="false"
                [closeOnSelect]="true"
                placeholder="{{ 'admin.firmware.list' | translate }}"
                appendTo="body"
                bindLabel="label"
                formControlName="firmware"
              >
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm">
            <div *ngIf="devicesList$">
              <ng-select
                [items]="devicesList$ | async"
                [multiple]="true"
                [closeOnSelect]="true"
                placeholder="{{ 'admin.firmware.devices.list' | translate }}"
                appendTo="body"
                bindLabel="label"
                formControlName="device"
              >
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <button
            class="ml-3 btn btn-primary"
            (click)="updateFirmware()"
            [disabled]="!form.valid"
            translate="admin.firmware.button.update"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
