<div class="row">
  <button
    class="ml-3 btn btn-primary"
    (click)="updatePermitToJoin(255)"
    translate="admin.permittojoin.permanent.button"
    [disabled]="permitToJoin.PermitToJoin === 255"
  ></button>
  <button
    class="ml-3 btn btn-secondary"
    (click)="updatePermitToJoin(0)"
    translate="admin.permittojoin.stop.button"
    [disabled]="permitToJoin.PermitToJoin === 0"
  ></button>
  <button
    class="ml-3 btn btn-success"
    (click)="updatePermitToJoin(240)"
    translate="admin.permittojoin.4min.button"
  ></button>
</div>
