<div class="text-center">
    <h1>
        <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
</div>
<div class="mt-5 row">
    <div class="col-sm text-center">
        Lo scopo del plugin è collegare un coordinatore ZigBee con la domotica Domoticz per comunicare con i
        dispositivi che utilizzano il protocollo ZigBee.
        <p>
            Per informazioni sul Plugin Zigbee for DomoticZ, fare riferimento al
            <a href="https://zigbeefordomoticz.github.io/wiki/en-eng" target="_blank"> Wiki del plugin (in inglese) </a>
        </p>
        <p>
            La piccola icona
            <a class="fas fa-info-circle me-2" href="https://zigbeefordomoticz.github.io/wiki/en-eng/WebUI_About"></a>
            rimanda alle informazioni nel Wiki.
        </p>
    </div>
</div>
<div class="mt-3 row">
    <div class="col-sm text-center">
        <h3 class="mt-3">Come gestire problemi e domande</h3>
    </div>
</div>
<div class="mt-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm text-justify">
        <ul>
            <li>
                In caso di domande e problemi, utilizzare il Forum Domoticz.
                <p>
                    È possibile utilizzare il
                    <a href="https://www.domoticz.com/forum/viewforum.php?f=68" target="_blank">forum Domoticz in inglese</a>.
                </p>
            </li>
        </ul>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="mt-3 row">
    <div class="col-sm text-center">
        <h3 class="mt-3">Vieni a discutere con noi!</h3>
    </div>
</div>
<div class="mt-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm text-justify">
        <p>Siamo un piccolo team di appassionati che condividono il piacere di usare DomoticZ con i coordinatori ZigBee.</p>
        <p>
            Incontraci su <a href="https://keybase.io/team/zigateforum" target="_blank">keybase.io</a> per discussioni in tempo reale.
        </p>
    </div>
    <div class="col-sm-2"></div>
</div>
<hr />
<div class="mt-3 row">
    <div class="col-sm text-center">
        <h3 class="mt-3">Ringraziamenti</h3>
    </div>
</div>
<div class="mt-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm text-justify">
        Vorremmo ringraziare i produttori per averci fornito attrezzatura per lo sviluppo:<br /><br />
        <ul>
            <li>
                &#64;Fred di Lixee per i coordinatori <a href="https://zigate.fr/" target="_blank">ZiGate</a> e i dispositivi Lixee.
            </li>
            <li>
                &#64;Omer di electrolama per i coordinatori
                <a href="https://shop.electrolama.com/" target="_blank">zzh Multiprotocol RF</a>.
            </li>
            <li>
                &#64;NilsBohr di Elelabs per l'<a href="https://elelabs.com/" target="_blank">Elelabs Zigbee USB Adapter</a>
                e i dispositivi Silicon Labs EZSP.
            </li>
            <li>&#64;Fabrice che ha gentilmente fornito una serie di dispositivi Legrand.</li>
            <li>
                &#64;erwan che ha gentilmente fornito una serie di dispositivi <a href="https://casaia.fr/boutique/"
                    target="_blank">Casa.IA</a>.
            </li>
        </ul>

        <br />
        Vorremmo ringraziare coloro che hanno contribuito al progetto. In particolare:<br /><br />
        <ul>
            <li>
                Sviluppatori del plugin: &#64;zaraki673, &#64;Pipiche38, &#64;2m2, &#64;d2e2n2o, &#64;karstenbakker,
                &#64;ricky74, &#64;sbhc68, &#64;thiklop, &#64;deufo e &#64;badz
            </li>
            <li>Sviluppatore dell'interfaccia Admin web: &#64;ben33880</li>
            <li>
                Traduzione dell'interfaccia Admin web: &#64;gemies e &#64;marktn (per la traduzione olandese), &#64;martial83,
                &#64;hydci e &#64;jp-keros (per la traduzione francese)
            </li>
            <li>Autori del Wiki: &#64;Pipiche38 e &#64;jp-keros</li>
            <li>
                Traduzione del Wiki: &#64;karstenbakker (olandese), &#64;jp-keros e &#64;newturtle (francese),
                &#64;erwan (spagnolo)
            </li>
        </ul>
        Ma anche tutti i tester e gli utenti che ci hanno fornito informazioni sui forum o tramite Keybase.
        <br />
        <br />
        <br />
        <p>
            Infine, vorrei esprimere la mia gratitudine ai grandi utenti che hanno supportato (tramite donazione) questo
            progetto. Ciò aiuta ad acquistare dispositivi per testarli, integrarli e certificarli.
        </p>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="mt-3 row">
    <div class="col-sm text-center">
        <a href="https://www.paypal.com/paypalme/pipiche" target="_blank">Paypal Cagnotte pipiche</a>
    </div>
</div>

<hr />
<div class="text-center">&#64;pipiche38 - 2018 - 2026</div>
<br />
