<footer class="navbar navbar-fixed-bottom" *ngIf="fork$ | async as fork">
  <div>
    <div
      [ngClass]="
        fork.pluginHealth?.HealthFlag === 1
          ? 'bg-success fixed-bottom'
          : fork.pluginHealth?.HealthFlag === 2
          ? 'bg-warning fixed-bottom'
          : 'bg-danger fixed-bottom'
      "
    >
      <div class="row">
        <div class="col-sm-2 text-white">
          <span translate="dashboard.health.starttime"></span
          >{{ fork.pluginStats?.StartTime * 1000 | date: 'dd/MM/yyyy HH:mm:ss' }}
        </div>
        <div class="col-sm-3 text-center text-white">
          <ng-container
            *ngIf="fork.pluginStats.Rxps >= 0.5 || fork.pluginStats.Txps >= 0.5; then perSecond; else other"
          >
          </ng-container>

          <ng-template #perSecond
            ><span
              >{{ 'dashboard.rxps' | translate }} : {{ fork.pluginStats.Rxps }}&nbsp;&nbsp;&nbsp;{{
                'dashboard.txps' | translate
              }}
              : {{ fork.pluginStats.Txps }}&nbsp;&nbsp;&nbsp;</span
            ></ng-template
          >
          <ng-template #other>
            <ng-container
              *ngIf="fork.pluginStats.Rxpm >= 0.5 || fork.pluginStats.Txpm >= 0.5; then perMinute; else perHour"
            >
              <ng-template #perMinute
                ><span
                  >{{ 'dashboard.rxpm' | translate }} : {{ fork.pluginStats.Rxpm }}&nbsp;&nbsp;&nbsp;{{
                    'dashboard.txpm' | translate
                  }}
                  : {{ fork.pluginStats.Txpm }}&nbsp;&nbsp;&nbsp;</span
                ></ng-template
              >
              <ng-template #perHour
                ><span
                  >{{ 'dashboard.rxph' | translate }} : {{ fork.pluginStats.Rxph }}&nbsp;&nbsp;&nbsp;{{
                    'dashboard.txph' | translate
                  }}
                  : {{ fork.pluginStats.Txph }}&nbsp;&nbsp;&nbsp;</span
                ></ng-template
              >
            </ng-container>
          </ng-template>
          <span>{{ 'dashboard.maxload' | translate }} : {{ fork.pluginStats.MaxLoad }} </span>
        </div>

        <div class="col-sm-3 text-center text-white"><span translate="{{ fork.pluginHealth?.HealthTxt }}"></span></div>

        <div class="col-sm-2" *ngIf="fork.plugin?.PluginUpdate">
          <a
            class="text-danger"
            style="cursor: pointer;"
            placement="top"
            ngbPopover="{{ 'dashboard.plugin.update.available' | translate }}"
            popoverTitle="{{ 'dashboard.plugin.update.available.title' | translate }}"
          >
            <span translate="dashboard.plugin.version"></span>{{ fork.plugin.PluginVersion }}
          </a>
        </div>
        <div class="col-sm-2" *ngIf="fork.plugin?.FirmwareUpdate">
          <a
            class="text-danger"
            style="cursor: pointer;"
            placement="top"
            ngbPopover="{{ 'dashboard.firmware.update.available' | translate }}"
            popoverTitle="{{ 'dashboard.firmware.update.available.title' | translate }}"
          >
            <span translate="dashboard.firmware.version"></span>{{ fork.plugin.FirmwareVersion }}
          </a>
        </div>
        <div *ngIf="!fork.plugin?.PluginUpdate" class="col-sm-2 text-white">
          <span translate="dashboard.plugin.version"></span>{{ fork.plugin.PluginVersion }}
        </div>
        <div *ngIf="!fork.plugin?.FirmwareUpdate" class="col-sm-2 text-white">
          <span translate="dashboard.firmware.version"></span>{{ fork.plugin.FirmwareVersion }}
        </div>
      </div>
    </div>
  </div>
</footer>
