<footer class="navbar navbar-fixed-bottom navbar-expand-lg" *ngIf="fork" style="line-height: 1">
  <div
    [ngClass]="
      fork.pluginHealth?.HealthFlag === 4
        ? 'bg-primary fixed-bottom'
        : fork.pluginHealth?.HealthFlag === 3
        ? 'bg-danger fixed-bottom'
        : fork.pluginHealth?.HealthFlag === 1 &&
          (!fork.pluginHealth?.GroupStatus || fork.pluginHealth?.GroupStatus === 'ready')
        ? 'bg-success fixed-bottom'
        : fork.pluginHealth?.HealthFlag === 2 || fork.pluginHealth?.GroupStatus !== 'ready'
        ? 'bg-warning fixed-bottom'
        : 'bg-danger fixed-bottom'
    ">
    <div class="d-flex flex-row justify-content-between">
      <div class="order-first p-2 text-white ms-2">
        <span translate="dashboard.health.starttime"></span
        >{{
          fork.pluginStats?.StartTime * 1000
            | date
              : 'dd/MM/yyyy
        HH:mm:ss'
        }}
      </div>
      <div class="order-0 p-2 text-center text-white d-none d-xl-block">
        <ng-container *ngIf="fork.pluginStats.Rxps >= 0.5 && fork.pluginStats.Txps >= 0.5; then perSecond; else other">
        </ng-container>

        <ng-template #perSecond
          ><span
            >{{ 'dashboard.rxps' | translate }} : {{ fork.pluginStats.Rxps }}&nbsp;&nbsp;&nbsp;{{
              'dashboard.txps' | translate
            }}
            : {{ fork.pluginStats.Txps }}&nbsp;&nbsp;&nbsp;</span
          ></ng-template
        >
        <ng-template #other>
          <span *ngIf="fork.pluginStats.Rxpm >= 0.5 && fork.pluginStats.Txpm >= 0.5; else perHour"
            >{{ 'dashboard.rxpm' | translate }} : {{ fork.pluginStats.Rxpm }}&nbsp;&nbsp;&nbsp;{{
              'dashboard.txpm' | translate
            }}
            : {{ fork.pluginStats.Txpm }}&nbsp;&nbsp;&nbsp;</span
          >

          <ng-template #perHour
            ><span
              >{{ 'dashboard.rxph' | translate }} : {{ fork.pluginStats.Rxph }}&nbsp;&nbsp;&nbsp;{{
                'dashboard.txph' | translate
              }}
              : {{ fork.pluginStats.Txph }}&nbsp;&nbsp;&nbsp;</span
            ></ng-template
          >
        </ng-template>
      </div>
      <div class="d-none d-md-block order-1 p-2 text-center text-white">
        {{ 'dashboard.maxload' | translate }} : {{ fork.pluginStats.MaxLoad }}
      </div>
      <div class="order-1 p-2 text-center text-white">
        <span translate="{{ fork.pluginHealth?.HealthTxt }}"></span>
      </div>
      <div *ngIf="fork.pluginHealth?.GroupStatus" class="d-none d-lg-block order-2 p-2 text-center text-white">
        <span>{{ 'dashboard.health.group' | translate }} {{ fork.pluginHealth?.GroupStatus }}</span>
      </div>

      <div class="order-3 p-2 text-center text-white d-none d-lg-block" *ngIf="fork.pluginHealth?.OTAupdateDevice">
        <span translate="dashboard.health.OTA"></span
        ><span>{{ fork.pluginHealth?.OTAupdateDevice }} {{ fork.pluginHealth?.OTAupdateProgress }}</span>
      </div>

      <div class="order-4 p-2" *ngIf="fork.plugin?.PluginUpdate">
        <a
          class="text-danger"
          style="cursor: pointer"
          placement="top"
          [ngbPopover]="popContentPlugin"
          popoverTitle="{{ 'dashboard.plugin.update.available.title' | translate }}">
          <span translate="dashboard.plugin.version"></span>
          {{ fork.plugin.PluginVersion }}
          <span *ngIf="fork.plugin.CertifiedDbVersion">[{{ fork.plugin.CertifiedDbVersion }}]</span>
        </a>
      </div>
      <div class="me-2 order-5 p-2" *ngIf="fork.plugin?.FirmwareUpdate">
        <a
          class="text-danger"
          style="cursor: pointer"
          placement="top"
          [ngbPopover]="popContentFirmware"
          popoverTitle="{{ 'dashboard.firmware.update.available.title' | translate }}">
          <span translate="dashboard.firmware.version"></span>{{ fork.plugin.DisplayFirmwareVersion }}
        </a>
      </div>
      <div *ngIf="!fork.plugin?.PluginUpdate" class="order-4 p-2 text-white">
        <span translate="dashboard.plugin.version"></span>
        {{ fork.plugin.PluginVersion }}
        <span *ngIf="fork.plugin.CertifiedDbVersion">[{{ fork.plugin.CertifiedDbVersion }}]</span>
      </div>
      <div *ngIf="!fork.plugin?.FirmwareUpdate" class="d-none d-lg-block me-2 order-5 p-2 text-white">
        <span translate="dashboard.firmware.version"></span>{{ fork.plugin.DisplayFirmwareVersion }}
      </div>
    </div>
  </div>
</footer>

<ng-template #popContentFirmware
  ><span [innerHTML]="'dashboard.firmware.update.available' | translate"></span
></ng-template>

<ng-template #popContentPlugin><span [innerHTML]="'dashboard.plugin.update.available' | translate"></span></ng-template>
