<form [formGroup]="form">
  <ng-select
    [items]="routers"
    [multiple]="false"
    [closeOnSelect]="true"
    [searchable]="true"
    bindLabel="ZDeviceName"
    placeholder="Choose device"
    (change)="callCapabilities($event)"
    appendTo="body"
  >
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      <span [ngOptionHighlight]="search"> <b>Name</b> : {{ item.ZDeviceName }} - <b>NwkId</b> : {{ item._NwkId }}</span>
    </ng-template>
  </ng-select>

  <ng-select
    *ngIf="deviceSelected && capabilities"
    [items]="capabilities.Capabilities"
    [multiple]="false"
    [closeOnSelect]="true"
    [searchable]="true"
    placeholder="Choose action"
    (change)="setAction($event)"
    appendTo="body"
  >
  </ng-select>

  <div *ngIf="action === 'LevelControl'">
    <label for="level">Level</label>
    <div>
      <input type="number" min="0" formControlName="level" class="w-100" />
      <div *ngIf="form.controls['level'].errors">
        saisie incorrecte
      </div>
    </div>
  </div>

  <div *ngIf="deviceSelected && action">
    <button class="ml-3 btn btn-primary" (click)="callAction()">Send</button>
  </div>
</form>
