<form [formGroup]="form">
  <div class="card h-100">
    <div class="card-header fw-bold" translate="tools.rawcommand-zigpy.title"></div>
    <div class="card-body">
      <p class="card-text" [innerHTML]="'tools.rawcommand-zigpy.subtitle' | translate"></p>
      <div class="card-text">
        <div class="row">
          <div class="col-sm-6">
            <ng-select
              [items]="devices$ | async"
              [multiple]="false"
              [closeOnSelect]="true"
              [searchable]="true"
              bindLabel="ZDeviceName"
              bindValue="_NwkId"
              placeholder="{{ 'tools.rawcommand-zigpy.placeholder' | translate }}"
              formControlName="TargetAddr">
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <span> <b>Name</b> : {{ item.ZDeviceName }} - <b>NwkId</b> : {{ item._NwkId }} </span>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="row mt-2">
          <label translate="tools.rawcommand-zigpy.groupaddressflag" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-6">
            <ng-select [items]="TrueFalse" bindLabel="name" bindValue="id" formControlName="GroupAddressFlag">
            </ng-select>
          </div>
        </div>
        <div class="row mt-2">
          <label translate="tools.rawcommand-zigpy.ackmode" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-6">
            <ng-select [items]="TrueFalse" bindLabel="name" bindValue="id" formControlName="AckMode"> </ng-select>
          </div>
        </div>
        <div class="row mt-2">
          <label translate="tools.rawcommand-zigpy.profileid" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-2">
            <input
              type="text"
              formControlName="ProfileId"
              placeholder="{{ 'tools.rawcommand-zigpy.profileid' | translate }}"
              class="w-100 form-control" />
          </div>
          <label translate="tools.rawcommand-zigpy.clusterid" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-2">
            <input
              type="text"
              formControlName="ClusterId"
              placeholder="{{ 'tools.rawcommand-zigpy.clusterid' | translate }}"
              class="w-100 form-control" />
          </div>
        </div>
        <div class="row mt-2">
          <label translate="tools.rawcommand-zigpy.sourceep" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-2">
            <input
              type="text"
              formControlName="SourceEp"
              placeholder="{{ 'tools.rawcommand-zigpy.sourceep' | translate }}"
              class="w-100 form-control" />
          </div>
          <label translate="tools.rawcommand-zigpy.targetep" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-2">
            <input
              type="text"
              formControlName="TargetEp"
              placeholder="{{ 'tools.rawcommand-zigpy.targetep' | translate }}"
              class="w-100 form-control" />
          </div>
        </div>
        <div class="row mt-2">
          <label translate="tools.rawcommand-zigpy.sqn" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-2">
            <div>
              <input
                type="text"
                formControlName="Sqn"
                placeholder="{{ 'tools.rawcommand-zigpy.sqn' | translate }}"
                class="w-100 form-control" />
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm">
            <input
              type="text"
              formControlName="Payload"
              placeholder="{{ 'tools.rawcommand-zigpy.payload' | translate }}"
              class="w-100 form-control" />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button
        class="btn btn-primary"
        (click)="putCommand()"
        [disabled]="!form.valid"
        translate="tools.rawcommand-zigpy.button.send"></button>
    </div>
  </div>
</form>
