<div class="text-center">
  <h1>
    <span translate>APP_NAME</span>
  </h1>
  <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
</div>
<div class="mt-5 row">
  <div class="col-sm text-center">
    The aim of the plugin is to bridge <a href="https://zigate.fr" target="_blank"> Zigate</a> hardware to the Domoticz
    Home Automation.
    <p>
      This will allow you to manage all your devices through widgets created on the Domoticz side. For information
      around the Zigate Plugin, please refer to
      <a href="https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Home.md" target="_blank">
        Plugin Wiki (English) </a
      > and 
      <a href="https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/fr-fr/Home.md" target="_blank">
        Plugin Wiki (French) </a
      >
      for more informations.
    </p>

    <h3 class="mt-5">How to deal with issues and Questions</h3>
  </div>
</div>
<div class="mt-3 row">
  <div class="col-sm-2"></div>
  <div class="col-sm">
    <div class="text-justify">
      <p>You have several alternatives to deal with those and here is the most efficient way to get good support</p>
      <ul>
        <li>
          In case of question and problem please use the Domoticz Forum to ask your questions and/or problem.
          <p>
            You can either use the
            <a href="https://www.domoticz.com/forum/viewforum.php?f=68" target="_blank">English Domoticz forum</a> or if
            you want to interact in French you might want to use
            <a href="https://easydomoticz.com/forum/viewforum.php?f=28" target="_blank">Easydomoticz French Forum</a>
            In addition, you can also connect with us on zigateforum (english), zigate (french) channel on keybase.io.
            Feel free to join and benefit from instant messaging.
          </p>
        </li>

        <li>
          In both cases, please be as detailed as possible and make sure that you document at least:
          <ul>
            <li>
              Plugin version ( you can get it from the domoticz log, when starting the Zigate plugin ). Tell us if you
              are using the "stable(default)" or "developement(beta)" branch
            </li>

            <li>Attached log file if applicable which can help in understanding the problem.</li>
          </ul>
        </li>
        <p>
          <li>
            If this is a zigate plugin "bug", you might create an issue in the
            <a href="https://github.com/pipiche38/Domoticz-Zigate" target="_blank">Zigate GitHub repository</a>. In such
            please provide as much details as possible. Don't use it for asking question.
          </li>
        </p>
      </ul>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>

<hr />
<div class="text-center">
  We would like to aknowledge our main contributors which are listed here.
  <p>
    @2m2, @d2e2n2o, @karstenbakker, @ricky74, @sbhc68, @thiklop, @deufo, <br />
    @gemies for Dutch translation , @martial83, @hydci for French translation of the Web Admin interface. 
    A big kudos to @jp_keros, @newturtle for the work done on translating the all Wiki to French<br />
    @hairv and @badz for their great contribution to the engineering of the Schneider Wiser part<br />
    Fabrice for his sponsorship to the Legrand integration<br />
  </p>

  <p>a big thanks to @ben33880 for all the work done to make the Plugin Admin Interface real and live.</p>
  <p></p>
  <p>
    Last I would like to express my gratitude to the great users whom have supported (by donation) this project. It
    helping to purchase devices in order to test, integrate and certify them.
  </p>
  <a href="paypal.me/pipiche target="_blank">Cagnotte</a>
</div>

<hr />
<div class="text-center">@zaraki673,@pipiche38 - 2018, 2019, 2020</div>
