<ng-container [ngSwitch]="i18nService.language">
  <ng-container *ngSwitchCase="i18nService.supportedLanguages[1]">
    <app-about-fr></app-about-fr>
  </ng-container>
  <ng-container *ngSwitchCase="i18nService.supportedLanguages[2]">
    <app-about-nl></app-about-nl>
  </ng-container>
  <ng-container *ngSwitchCase="i18nService.supportedLanguages[3]">
    <app-about-es></app-about-es>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <app-about-en></app-about-en>
  </ng-container>
</ng-container>
