<form [formGroup]="form">
  <div class="card h-100">
    <div class="card-header fw-bold" translate="tools.rawcommand-zigate.title"></div>
    <div class="card-body">
      <p class="card-text" [innerHTML]="'tools.rawcommand-zigate.subtitle' | translate"></p>
      <div class="card-text">
        <div class="row">
          <div class="col-sm-6">
            <div>
              <input
                type="text"
                formControlName="Command"
                placeholder="{{ 'tools.rawcommand-zigate.command' | translate }}"
                class="w-100 form-control" />
              <div
                *ngIf="form.controls['Command'].dirty && !form.controls['Command'].valid"
                translate="tools.rawcommand-zigate.error"></div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-6">
            <div>
              <input
                type="text"
                formControlName="payload"
                placeholder="{{ 'tools.rawcommand-zigate.payload' | translate }}"
                class="w-100 form-control" />
              <div
                *ngIf="form.controls['payload'].dirty && !form.controls['payload'].valid"
                translate="tools.rawcommand-zigate.error"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button
        class="btn btn-primary"
        (click)="putCommand()"
        [disabled]="!form.valid"
        translate="tools.rawcommand-zigate.button.send"></button>
    </div>
  </div>
</form>
