<div class="row">
  <div class="col-sm">
    <form [formGroup]="form">
      <div class="card">
        <div class="card-header" translate="tools.binding.title"></div>
        <div class="card-body">
          <h5 class="card-title" [innerHTML]="'tools.binding.subtitle' | translate"></h5>
          <div class="card-text">
            <div class="row">
              <div class="col-sm-6">
                <div>
                  <input
                    type="text"
                    formControlName="source_ieee"
                    placeholder="{{ 'tools.binding.source_ieee' | translate }}"
                    class="w-100 form-control"
                  />
                  <div
                    *ngIf="form.controls['source_ieee'].dirty && !form.controls['source_ieee'].valid"
                    translate="tools.binding.error"
                  ></div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div>
                  <input
                    type="text"
                    formControlName="source_ep"
                    placeholder="{{ 'tools.binding.source_ep' | translate }}"
                    class="w-100 form-control"
                  />
                  <div
                    *ngIf="form.controls['source_ep'].dirty && !form.controls['source_ep'].valid"
                    translate="tools.binding.error"
                  ></div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div>
                  <input
                    type="text"
                    formControlName="dest_ieee"
                    placeholder="{{ 'tools.binding.dest_ieee' | translate }}"
                    class="w-100 form-control"
                  />
                  <div
                    *ngIf="form.controls['dest_ieee'].dirty && !form.controls['dest_ieee'].valid"
                    translate="tools.binding.error"
                  ></div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div>
                  <input
                    type="text"
                    formControlName="dest_ep"
                    placeholder="{{ 'tools.binding.dest_ep' | translate }}"
                    class="w-100 form-control"
                  />
                  <div
                    *ngIf="form.controls['dest_ep'].dirty && !form.controls['dest_ep'].valid"
                    translate="tools.binding.error"
                  ></div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div>
                  <input
                    type="text"
                    formControlName="cluster"
                    placeholder="{{ 'tools.binding.cluster' | translate }}"
                    class="w-100 form-control"
                  />
                  <div
                    *ngIf="form.controls['cluster'].dirty && !form.controls['cluster'].valid"
                    translate="tools.binding.error"
                  ></div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <button
                class="ml-3 btn btn-primary"
                (click)="putBinding()"
                [disabled]="!form.valid"
                translate="tools.binding.button.put"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
