<div class="row">
  <div class="col-sm">
    <form [formGroup]="form">
      <div class="card">
        <div class="card-header" translate="tools.binding.title"></div>
        <div class="card-body">
          <h5 class="card-title" [innerHTML]="'tools.binding.subtitle' | translate"></h5>
          <div class="card-text">
            <div class="row">
              <div class="col-sm-6">
                <div>
                  <ng-select
                    [items]="clusters$ | async"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    placeholder="{{ 'tools.binding.cluster' | translate }}"
                    appendTo="body"
                    bindLabel="fullName"
                    bindValue="ClusterId"
                    formControlName="cluster">
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div>
                  <ng-select
                    [items]="devicesSource"
                    [multiple]="false"
                    (change)="filterDevices($event)"
                    [closeOnSelect]="true"
                    placeholder="{{ 'tools.binding.sourceEp' | translate }}"
                    appendTo="body"
                    bindLabel="ZDeviceName"
                    formControlName="source">
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <span [ngOptionHighlight]="search">
                        <b>Device name</b> : {{ item.ZDeviceName }} - <b>IEEE</b> : {{ item.IEEE }} - <b>Ep</b> :
                        {{ item.Ep }} - <b>Nwkid</b> : {{ item.NwkId }}
                      </span>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <div>
                  <ng-select
                    [items]="devicesTargetFiltered"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    bindLabel="ZDeviceName"
                    placeholder="{{ 'tools.binding.destEp' | translate }}"
                    appendTo="body"
                    formControlName="target">
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      <span [ngOptionHighlight]="search">
                        <b>Device name</b> : {{ item.ZDeviceName }} - <b>IEEE</b> : {{ item.IEEE }} - <b>Ep</b> :
                        {{ item.Ep }} - <b>Nwkid</b> : {{ item.NwkId }}
                      </span>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <button
                class="ml-3 btn btn-primary"
                (click)="putBinding()"
                [disabled]="!form.valid"
                translate="tools.binding.button.put"></button>
              <button
                class="ml-3 btn btn-primary"
                (click)="putUnBinding()"
                [disabled]="!form.valid"
                translate="tools.unbinding.button.put"></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
