<div class="ml-3 card">
  <div class="card-header" translate="network.full.req.header"></div>
  <div class="card-body">
    <h5 class="card-title" translate="network.full.req.subtitle"></h5>
    <div class="card-text">
      <div class="vertical-container">
        <div class="content-container">
          <perfect-scrollbar class="scroll-container">
            <div class="scrollable-content">
              <button class="btn btn-light" (click)="reqFull()" translate="network.full.req.button"></button>
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </div>
</div>
