<div class="card">
  <div class="card-header fw-bold">
    {{ 'group.create.header' | translate
    }}<button
      [disabled]="!isFormValid()"
      (click)="updateDevices()"
      class="btn btn-primary float-end"
      translate="group.create.validate.button"></button>
  </div>
  <div class="card-body">
    <p class="card-text" [innerHTML]="'group.create.subtitle' | translate"></p>
    <div class="card-text">
      <p-table
        #dt1
        [globalFilterFields]="['_GroupId', 'GroupName']"
        [rowHover]="true"
        styleClass="p-datatable-sm"
        dataKey="_GroupId"
        responsiveLayout="scroll"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{{ 'TOTAL' | translate }}"
        [rowsPerPageOptions]="[10, 25, 50]"
        [value]="rows"
        [rows]="10"
        [paginator]="true"
        [scrollable]="true">
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt1.filterGlobal($event.target.value, 'contains')"
                placeholder="{{ 'device.byname.placeholder' | translate }}" />
            </span>
            <button (click)="add()" class="float-end btn btn-primary" translate="group.create.add.button"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th></th>
            <th pSortableColumn="_GroupId" style="width: 8rem">
              {{ 'group.create.shortid.column' | translate }}<p-sortIcon field="_GroupId"></p-sortIcon>
            </th>
            <th pSortableColumn="GroupName" style="width: 10rem">
              {{ 'group.create.groupname.column' | translate }}<p-sortIcon field="GroupName"></p-sortIcon>
            </th>
            <th>
              {{ 'group.create.devices.column' | translate }}
            </th>
            <th>
              {{ 'group.create.coordinator.column' | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-editing="editing"
          let-row
          let-rowIndex="rowIndex"
          let-columns="columns"
          let-expanded="expanded">
          <tr>
            <td>
              <i
                class="fa fa-trash"
                style="cursor: pointer"
                title="{{ 'group.create.delete.button' | translate }}"
                (click)="delete(row)"></i>
            </td>
            <td>
              {{ row._GroupId }}
            </td>
            <td [pEditableColumn]="row.GroupName" pEditableColumnField="GroupName">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="row.GroupName"
                    (change)="updateValue($event, row._GroupId)" />
                </ng-template>
                <ng-template pTemplate="output">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="row.GroupName"
                    (change)="updateValue($event, row._GroupId)" />
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <ng-select
                [items]="devices"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="true"
                bindLabel="Name"
                placeholder="Choose device"
                [(ngModel)]="row.devicesSelected"
                (change)="isFormValid()"
                appendTo="body">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span>
                    <b>Widget</b> : {{ item.Name }} - <b>IEEE</b> : {{ item.IEEE }} - <b>Ep</b> : {{ item.Ep }} -
                    <b>Id</b> : {{ item._ID }} -
                    <b>{{ item.ZDeviceName }}</b>
                  </span>
                </ng-template>
              </ng-select>
            </td>
            <td>
              <div class="form-check">
                <input
                  (click)="updateCoordinator($event, row)"
                  [checked]="row.coordinatorInside"
                  class="form-check-input"
                  type="checkbox" />
              </div>
            </td></tr
        ></ng-template>
      </p-table>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" translate="group.reloadplugin.alert.title"></h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" translate="group.reloadplugin.alert.subject"></div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('cancel')"
        translate="group.reloadplugin.alert.cancel"></button>
    </div>
  </ng-template>
</div>
