<div class="col-sm">
  <div class="card ml-3">
    <div class="card-header" translate="admin.reloadplugin.title"></div>
    <div class="card-body">
      <h5 class="card-title" translate="admin.reloadplugin.subtitle"></h5>
      <div class="card-text">
        <button
          [disabled]="disabled"
          class="w-100 btn btn-primary"
          (click)="open(content)"
          translate="admin.reloadplugin.button"
        ></button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate="admin.reloadplugin.alert.title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" translate="admin.reloadplugin.alert.subject"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('erase')"
      translate="admin.reloadplugin.alert.erase"
    ></button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel')"
      translate="admin.reloadplugin.alert.cancel"
    ></button>
  </div>
</ng-template>
