<div class="card h-100">
  <div class="card-header fw-bold" translate="admin.plugin.reload.title"></div>
  <div class="card-body">
    <p class="card-text" [innerHTML]="'admin.plugin.reload.subtitle' | translate"></p>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button class="btn btn-primary mt-3" (click)="open(content)" translate="admin.plugin.reload.button"></button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate="admin.plugin.reload.alert.title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" translate="admin.plugin.reload.alert.subject"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('erase')"
      translate="admin.plugin.reload.alert.erase"></button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel')"
      translate="admin.plugin.reload.alert.cancel"></button>
  </div>
</ng-template>
