<div class="card" *ngIf="topologies$ | async as topologies">
  <div class="card-header" translate="network.topo.header"></div>
  <div class="card-body">
    <h5 class="card-title" translate="network.topo.subtitle"></h5>
    <div class="card-text">
      <div class="vertical-container">
        <div class="content-container">
          <perfect-scrollbar class="scroll-container">
            <div class="scrollable-content">
              <span class="row d-flex align-items-center" *ngFor="let topologie of topologies | keyvalue: sortDesc">
                <button class="btn btn-light" (click)="topologyByDate(topologie.value)">
                  {{ topologie.value * 1000 | date: 'dd/MM/yyyy HH:mm:ss' }}
                </button>
                <div class="ml-3">
                  <button
                    class="btn btn-light"
                    title="{{ 'network.topo.visu.delete.button' | translate }}"
                    (click)="deleteTopologyByDate(topologie.value)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </span>
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </div>
</div>
