<div class="card h-100">
  <div class="card-header fw-bold" translate="admin.plugin.update.title"></div>
  <div class="card-body">
    <p class="card-text" [innerHTML]="'admin.plugin.update.subtitle' | translate"></p>
    <div class="card-text">
      <ngx-spinner
        bdColor="rgba(0, 0, 0, 0.5)"
        size="small"
        color="#fff"
        type="line-spin-clockwise-fade-rotating"
        [fullScreen]="false"
        [name]="'update-plugin'">
        <p>&nbsp;</p>
        <p class="text-white">Loading...</p>
      </ngx-spinner>
      <span class="mt-3" [innerHTML]="message | nl2br"></span>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button
      [disabled]="load"
      class="btn btn-primary"
      (click)="updatePlugin()"
      translate="admin.plugin.update.button"></button>
  </div>
</div>
