<div class="col-sm">
  <div class="card">
    <div class="card-header" translate="admin.plugin.update.title"></div>
    <div class="card-body">
      <h5 class="card-title" [innerHTML]="'admin.plugin.update.subtitle' | translate"></h5>
      <div class="card-text">
        <ngx-spinner
          bdColor="rgba(0, 0, 0, 0.5)"
          size="small"
          color="#fff"
          type="line-spin-clockwise-fade-rotating"
          [fullScreen]="false"
          [name]="'update-plugin'"
        >
          <p>&nbsp;</p>
          <p class="text-white">Loading...</p></ngx-spinner
        >
        <span class="mt-3" [innerHTML]="message | nl2br"></span>
        <button
          [disabled]="load"
          class="mt-3 w-20 btn btn-primary"
          (click)="updatePlugin()"
          translate="admin.plugin.update.button"
        ></button>
      </div>
    </div>
  </div>
</div>
