.content-container {
  position: relative;
  overflow: auto;
  height: 150px;
  min-height: 0;
}

.vertical-container,
.horizontal-container {
  min-height: 0;
}

.scroll-container {
  position: relative;
}

.scrollable-content {
  padding: 16px;
  margin: 0;
}
