<div class="ml-3 card" *ngIf="stats$ | async as stats">
  <div class="card-header" translate="network.stats.header"></div>
  <div class="card-body">
    <h5 class="card-title" translate="network.stats.subtitle"></h5>
    <div class="card-text">
      <div class="vertical-container">
        <div class="content-container">
          <perfect-scrollbar class="scroll-container">
            <div class="scrollable-content">
              <span class="row" *ngFor="let stat of stats | keyvalue">
                <button class="btn btn-light" (click)="(aa)">
                  {{ stat.value | date: 'dd/MM/yyyy hh:mm:ss' }}
                </button>
              </span>
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </div>
</div>
