<div class="card" *ngIf="zigate$ | async as zigate">
  <div class="card-header" translate="dashboard.zigate.header"></div>
  <div class="card-body">
    <h5 class="card-title" [innerHTML]="'dashboard.zigate.subtitle' | translate"></h5>
    <div class="card-text">
      <li *ngFor="let plugin of zigate | keyvalue">
        {{ plugin.key | translate }} :
        <span *ngIf="plugin.key === 'StartTime' || plugin.key === 'TimeStamp'; else others">{{
          plugin.value * 1000 | date: 'dd/MM/yyyy HH:mm:ss'
        }}</span>
        <ng-template #others>{{ plugin.value }}</ng-template>
      </li>
    </div>
  </div>
</div>
