<div class="row row-cols-1 row-cols-xxl-2 row-cols-xl-1 g-4">
  <div class="col">
    <div class="card">
      <div class="card-header">
        {{ 'manufacturer.casaia.header' | translate }}
        <button
          [disabled]="!hasEditing"
          (click)="updateCasaiaDevices()"
          class="btn btn-primary float-end"
          translate="{{ 'manufacturer.casaia.validate.button' | translate }}"></button>
      </div>
      <div class="card-body">
        <h5 class="card-title" [innerHTML]="'manufacturer.casaia.subtitle' | translate"></h5>
        <div class="card-text">
          <p-table
            #dt1
            [globalFilterFields]="['NwkId', 'Name', 'IEEE', 'Model', 'IRCode']"
            [rowHover]="true"
            styleClass="p-datatable-sm"
            dataKey="NwkId"
            responsiveLayout="scroll"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{{ 'TOTAL' | translate }}"
            [rowsPerPageOptions]="[10, 25, 50]"
            [value]="rows"
            [rows]="10"
            [paginator]="true"
            [scrollable]="true">
            <ng-template pTemplate="caption">
              <div class="flex">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="dt1.filterGlobal($event.target.value, 'contains')"
                    placeholder="{{ 'manufacturer.casaia.placeholder' | translate }}" />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th pSortableColumn="NwkId">
                  {{ 'manufacturer.casaia.nwkid' | translate }}<p-sortIcon field="NwkId"></p-sortIcon>
                </th>
                <th pSortableColumn="Name">
                  {{ 'manufacturer.casaia.name' | translate }}<p-sortIcon field="Name"></p-sortIcon>
                </th>
                <th pSortableColumn="IEEE">
                  {{ 'manufacturer.casaia.ieee' | translate }}<p-sortIcon field="IEEE"></p-sortIcon>
                </th>
                <th pSortableColumn="Model">
                  {{ 'manufacturer.casaia.model' | translate }}<p-sortIcon field="Model"></p-sortIcon>
                </th>
                <th pSortableColumn="IRCode" style="width: 8rem">
                  {{ 'manufacturer.casaia.ircode' | translate }}<p-sortIcon field="IRCode"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-editing="editing"
              let-row
              let-rowIndex="rowIndex"
              let-columns="columns"
              let-expanded="expanded">
              <tr>
                <td>
                  {{ row.NwkId }}
                </td>
                <td>
                  {{ row.Name }}
                </td>
                <td>
                  {{ row.IEEE }}
                </td>
                <td>
                  {{ row.Model }}
                </td>
                <td [pEditableColumn]="row.IRCode" pEditableColumnField="IRCode">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input
                        pInputText
                        type="text"
                        [(ngModel)]="row.IRCode"
                        (change)="updateIRCode($event, row.NwkId)" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      <input
                        pInputText
                        type="text"
                        [(ngModel)]="row.IRCode"
                        (change)="updateIRCode($event, row.NwkId)" />
                    </ng-template>
                  </p-cellEditor>
                </td></tr
            ></ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
