<div class="row">
  <div class="col-sm-3">
    <app-topology (timeStamp)="timeStampTopologyChange($event)"></app-topology>
  </div>
  <div class="col-sm-3"><app-nwk-stats (timeStamp)="timeStampNwkStatChange($event)"></app-nwk-stats></div>
  <div class="col-sm-3"><app-req-topology></app-req-topology></div>
  <div class="col-sm-3"><app-req-network-inter></app-req-network-inter></div>
</div>
<div *ngIf="timeStampTopology"><app-detail-topology [timeStamp]="timeStampTopology"></app-detail-topology></div>
<div *ngIf="timeStampNwkStat"><app-detail-nwk-stat [timeStamp]="timeStampNwkStat"></app-detail-nwk-stat></div>
