<form [formGroup]="form" *ngIf="settings">
  <fieldset class="h-100">
    <legend>
      <div class="row">
        <h5 class="col-sm-8" [innerHTML]="'tools.debugsetting.help.legend' | translate"></h5>
        <div class="col-sm-4">
          <div class="d-flex flex-row-reverse align-items-center">
            <div class="p-2">
              <button
                [disabled]="!form.valid"
                (click)="updateSettings()"
                class="btn btn-primary"
                translate="tools.debugsetting.validate.button"></button>
            </div>
            <div class="p-2 ms-3">
              <button
                (click)="reinitSettings()"
                class="btn btn-secondary"
                translate="tools.debugsetting.reinit.button"></button>
            </div>
            <div class="switch switch-sm me-2 pr-2 float-right">
              <input
                [checked]="advanced"
                (click)="advancedSettings($event)"
                type="checkbox"
                class="switch"
                id="switch-advanced" />
              <label class="mb-0" for="switch-advanced" translate="tools.debugsetting.advanced.button"></label>
            </div>
          </div>
        </div>
      </div>
    </legend>
  </fieldset>
  <div class="row row-cols-1 row-cols-sm-1 g-4">
    <div class="col">
      <div *ngFor="let listOfSettings of settings">
        <div class="card" *ngIf="hasBasicSettings(listOfSettings.ListOfSettings)">
          <div class="card-header fw-bold" [innerHTML]="getTranslation('setting.header.', listOfSettings._Theme)"></div>
          <div class="card-body">
            <div class="card-text">
              <p [innerHTML]="getTranslation('setting.subtitle.', listOfSettings._Theme)"></p>
            </div>
            <div class="card-text">
              <div class="row row-cols-1 row-cols-xl-6 row-cols-md-3 row-cols-sm-1 align-items-center">
                <ng-container *ngFor="let setting of listOfSettings.ListOfSettings">
                  <app-debug-setting
                    *ngIf="!setting.Advanced && setting.DataType === 'bool'"
                    [setting]="setting"
                    [advanced]="advanced"></app-debug-setting>
                </ng-container>
              </div>
              <div class="row row-cols-1 row-cols-xl-6 row-cols-md-3 row-cols-sm-1 align-items-center mt-2">
                <ng-container *ngFor="let setting of listOfSettings.ListOfSettings">
                  <app-debug-setting
                    *ngIf="!setting.Advanced && setting.DataType !== 'bool'"
                    [setting]="setting"
                    [advanced]="advanced"></app-debug-setting>
                </ng-container>
              </div>
              <div class="row row-cols-1 row-cols-xl-6 row-cols-md-3 row-cols-sm-1 align-items-center mt-2">
                <ng-container *ngFor="let setting of listOfSettings.ListOfSettings">
                  <app-debug-setting
                    *ngIf="setting.Advanced && setting.Advanced === advanced"
                    [setting]="setting"
                    [advanced]="advanced"></app-debug-setting>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #contentRestart let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate="setting.reloadplugin.alert.title"></h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" translate="setting.reloadplugin.alert.subject"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel')"
      translate="setting.reloadplugin.alert.cancel"></button>
  </div>
</ng-template>

<ng-template #contentReset let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate="setting.resetplugin.alert.title"></h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" translate="setting.resetplugin.alert.subject"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel')"
      translate="setting.resetplugin.alert.cancel"></button>
  </div>
</ng-template>

<ng-template #contentErase let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate="setting.eraseplugin.alert.title"></h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" translate="setting.eraseplugin.alert.subject"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel')"
      translate="setting.eraseplugin.alert.cancel"></button>
  </div>
</ng-template>
