<div class="row row-cols-1 row-cols-md-2 g-4 mt-1">
  <div class="col">
    <div class="card" *ngIf="chart">
      <div class="card-header" translate="network.stats.detail.visu.header"></div>
      <div class="card-body">
        <h5 class="card-title" [innerHTML]="'network.stats.detail.visu.subtitle' | translate"></h5>
        <div class="card-text">
          <div [chart]="chart" class="text-center"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" *ngIf="chart2">
      <div class="card-header" translate="network.stats.detail.visu.header"></div>
      <div class="card-body">
        <h5 class="card-title" [innerHTML]="'network.stats.detail.visu.subtitle' | translate"></h5>
        <div class="card-text">
          <div [chart]="chart2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
