<div class="text-center">
    <h1>
        <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
</div>
<div class="mt-5 row">
    <div class="col-sm text-center">
        Ce plugin permet d'utiliser un coordinateur ZigBee avec le logiciel DomoticZ afin de pouvoir communiquer avec
        des
        objets utilisant le protocole ZigBee.
        <p>
            Retrouver toutes les informations pour utiliser ce plugin sur
            <a href="https://zigbeefordomoticz.github.io/wiki/fr-fr" target="_blank"> le Wiki du plugin </a>
            (en français).<br />
            Refer to
            <a href="https://zigbeefordomoticz.github.io/wiki/en-eng" target="_blank"> the plugin Wiki </a>
            for more informations (in english).
        </p>
        <p>
            La petite icône
            <a class="fas fa-info-circle me-2" href="https://zigbeefordomoticz.github.io/wiki/fr-fr/WebUI_A-propos"></a>
            renvoit vers les informations sur le Wiki français.
        </p>
    </div>
</div>
<div class="mt-3 row">
    <div class="col-sm text-center">
        <h3 class="mt-3">En cas de problèmes</h3>
    </div>
</div>
<div class="mt-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm text-justify">
        <ul>
            <li>
                Vérifiez les logs de DomoticZ, ils contiennent de nombreuses informations utiles à la compréhension
                du(es)
                dysfonctionnements.
            </li>
            <br />
            <li>Venez en discuter sur les forums :</li>
            <ul>
                <li>
                    <a href="https://easydomoticz.com/forum/viewforum.php?f=28" target="_blank">Le forum français</a>
                    en suivant le
                    <a href="https://easydomoticz.com/forum/viewtopic.php?f=28&t=10886" target="_blank">Guide pour bien
                        formuler une demande</a>
                    afin que nous ayons un maximum d'informations dés le départ.
                </li>
                <li>
                    <a href="https://www.domoticz.com/forum/viewforum.php?f=68" target="_blank">Le forum anglais</a>
                </li>
            </ul>
            <br />
        </ul>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="mt-3 row">
    <div class="col-sm text-center">
        <h3 class="mt-3">Venez discuter avec nous !</h3>
    </div>
</div>
<div class="mt-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm text-justify">
        <p>
            Nous sommes une petite équipe de passionnés qui partageons le plaisir d'utiliser DomoticZ avec les
            coordinateur
            ZigBee.
        </p>
        <p>
            Retrouvez-nous sur <a href="https://keybase.io/team/zigate" target="_blank">keybase.io</a> pour des
            discussions en
            temps réel.
        </p>
    </div>
    <div class="col-sm-2"></div>
</div>
<hr />
<div class="mt-3 row">
    <div class="col-sm text-center">
        <h3 class="mt-3">Remerciements</h3>
    </div>
</div>
<div class="mt-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm text-justify">
        Nous souhaitons remercier les fabricants pour nous avoir mis à disposition du matériel pour les développements
        :<br /><br />
        <ul>
            <li>
                @Fred de Lixee.fr pour la fourniture de coordinateurs
                <a href="https://zigate.fr/" target="_blank">ZiGates</a> et autres objects.
            </li>
            <li>
                @Omer de electrolama pour la fourniture de coordinateurs
                <a href="https://shop.electrolama.com/" target="_blank">zzh Multiprotocol RF</a>.
            </li>
            <li>
                @NilsBohr de Elelabs pour la fourniture de coordinateurs
                <a href="https://elelabs.com/" target="_blank">Elelabs Zigbee USB Adapter</a> Silicon Labs EZSP objects.
            </li>
            <li>@Fabrice pour avoir fournit gracieusement des objets Legrand-Netatmo.</li>
            <li>
                @erwan pour avoir fournit gracieusement des objets <a href="https://casaia.fr/boutique/"
                    target="_blank">Casa.IA</a>.
            </li>
        </ul>

        <br />
        Nous souhaitons remercier les personnes ayant contribué au projet. En particulier :<br /><br />
        <ul>
            <li>
                Les développeurs du plugin : @zaraki673, @Pipiche38, @2m2, @d2e2n2o, @karstenbakker, @ricky74, @sbhc68,
                @thiklop, @deufo et @badz
            </li>
            <li>le développeur de l'interface Web : @ben33880</li>
            <li>
                Les traducteurs de l'interface web : @gemies et @marktn (pour la version allemande), @martial83, @hydci
                et
                @jp-keros (pour la version française)
            </li>
            <li>Les rédacteurs du wiki : @Pipiche38 et @jp-keros</li>
            <li>
                Les traducteurs du wiki : @karstenbakker (pour la version allemande), @jp-keros et @newturtle (pour la
                version
                française), @erwan (for Spanish translation)
            </li>
        </ul>
        Mais aussi tous les testeurs et utilisateurs qui nous ont remonté des infos sur les forums ou via Keybase.
        <br />
        <br />
        <br />
        <p>
            Pour terminer, nous souhaiterions remercier tous les donateurs qui ont supporté le projet. Cela permet
            l'achat de
            nouveaux objets pour les tester, les intégrer et les certifier.
        </p>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="mt-3 row">
    <div class="col-sm text-center">
        <a href="https://www.paypal.com/paypalme/pipiche" target="_blank">Cagnotte Paypal pipiche</a>
    </div>
</div>

<hr />
<div class="text-center">@pipiche38 - 2018 - 2024</div>

<br />