<div class="text-center">
  <h1>
    <span translate>APP_NAME</span>
  </h1>
  <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
</div>
<div class="mt-5 row">
  <div class="col-sm text-center">
    Ce plugin permet d'utiliser une <a href="https://zigate.fr" target="_blank"> ZiGate</a> avec le logiciel DomoticZ
    afin de pouvoir communiquer avec des objets utilisant le protocole ZigBee.
    <p>
      Retrouver toutes les informations pour utiliser ce plugin sur
      <a href="https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/fr-fr/Home.md" target="_blank">
        le Wiki du plugin
      </a>
      (en français).<br />
      Refer to
      <a href="https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/Home.md" target="_blank">
        the plugin Wiki
      </a>
      for more informations (in english).
    </p>
    <p>
      La petite icône
      <a
        class="fas fa-info-circle mr-2"
        href="http://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/fr-fr/WebUI_A-propos.md"
      ></a>
      renvoit vers les informations sur le Wiki français.
    </p>
  </div>
</div>
<div class="mt-3 row">
  <div class="col-sm text-center">
    <h3 class="mt-3">En cas de problèmes</h3>
  </div>
</div>
<div class="mt-3 row">
  <div class="col-sm-2"></div>
  <div class="col-sm text-justify">
    <ul>
      <li>
        Vérifiez les logs de DomoticZ, ils contiennent de nombreuses informations utiles à la compréhension du(es)
        dysfonctionnements.
      </li>
      <br />
      <li>
        Venez en discuter sur les forums :
      </li>
      <ul>
        <li>
          <a href="https://easydomoticz.com/forum/viewforum.php?f=28" target="_blank">Le forum français</a>
          en suivant le
          <a href="https://easydomoticz.com/forum/viewtopic.php?f=28&t=10886" target="_blank"
            >Guide pour bien formuler une demande</a
          >
          afin que nous ayons un maximum d'informations dés le départ.
        </li>
        <li>
          <a href="https://www.domoticz.com/forum/viewforum.php?f=68" target="_blank">Le forum anglais</a>
        </li>
      </ul>
      <br />
    </ul>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="mt-3 row">
  <div class="col-sm text-center">
    <h3 class="mt-3">Venez discuter avec nous !</h3>
  </div>
</div>
<div class="mt-3 row">
  <div class="col-sm-2"></div>
  <div class="col-sm text-justify">
    <p>Nous sommes une petite équipe de passionnés qui partageons le plaisir d'utiliser DomoticZ avec la ZiGate.</p>
    <p>
      Retrouvez-nous sur <a href="https://keybase.io" target="_blank">keybase.io</a> (team Zigate) pour des discussions
      en temps réel.
    </p>
  </div>
  <div class="col-sm-2"></div>
</div>
<hr />
<div class="mt-3 row">
  <div class="col-sm text-center">
    <h3 class="mt-3">Remerciements</h3>
  </div>
</div>
<div class="mt-3 row">
  <div class="col-sm-2"></div>
  <div class="col-sm text-justify">
    Nous souhaitons remercier nos contributeurs principaux :<br /><br />
    <p>
      Les développeurs : @2m2, @d2e2n2o, @karstenbakker, @ricky74, @sbhc68, @thiklop et @deufo<br />
      Les traducteurs de l'interface web : @gemies (pour la version allemande), @martial83, @hydci et @jp-keros (pour la
      version française)<br />
      Les traducteurs du wiki : @karstenbakker (pour la version allemande), @jp-keros et @newturtle (pour la version
      française)<br />
      Les testeurs des objets Schneider Wiser : @hairv et @badz<br />
      Le partenariat pour l'intégration des objets Legrand : @Fabrice<br />
    </p>
    <p>
      Un grand merci à @ben33880 pour tout le travail fait sur l'interface d'administration qui nous permet de gérer le
      plugin beaucoup plus facilement.
    </p>
    <p></p>
    <p>
      Pour terminer, je souhaiterai remercier tous les donateurs qui ont supporté le projet. Cela permet l'achat de
      nouveaux objets pour les tester, les intégrer et les certifier.
    </p>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="mt-3 row">
  <div class="col-sm text-center">
    <a href="https://www.paypal.com/paypalme/pipiche" target="_blank">Cagnotte Paypal pipiche</a>
  </div>
</div>

<hr />
<div class="text-center">@zaraki673, @pipiche38 - 2018, 2019, 2020, 2021</div>

<br />
