<div class="row">
  <div class="col-sm">
    <div *ngIf="pluginHealth?.HealthFlag === 0" class="card" style="max-width: 18rem;">
      <div class="card-header" translate="dashboard.health.title"></div>
      <div class="card-body text-white bg-dark">
        <i class="fas fa-power-off"></i> <span translate="{{ pluginHealth?.HealthTxt }}"></span>
      </div>
    </div>
    <div *ngIf="pluginHealth?.HealthFlag === 1" class="card" style="max-width: 18rem;">
      <div class="card-header" translate="dashboard.health.title"></div>
      <div class="card-body text-white bg-success">
        <i class="fas fa-play"></i> <span translate="{{ pluginHealth?.HealthTxt }}"></span>
      </div>
    </div>
    <div *ngIf="pluginHealth?.HealthFlag === 3" class="card text-white bg-danger ml-3" style="max-width: 18rem;">
      <div class="card-header" translate="dashboard.health.title"></div>
      <div class="card-body"><i class="fas fa-stop"></i> <span translate="{{ pluginHealth?.HealthTxt }}"></span></div>
    </div>
    <div *ngIf="pluginHealth?.HealthFlag === 2" class="card text-white bg-warning ml-3" style="max-width: 18rem;">
      <div class="card-header" translate="dashboard.health.title"></div>
      <div class="card-body">
        <i class="fas fa-exclamation"></i> <span translate="{{ pluginHealth?.HealthTxt }}"></span>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm">
    <div class="card">
      <div class="card-header" translate="dashboard.trafic.title"></div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <ngx-charts-advanced-pie-chart
              [view]="[undefined, 150]"
              [results]="advancedPieSent"
              [animations]="animations"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              [scheme]="colorSchemeGR"
              [label]="advancedPieSentLabel"
              [percentageFormatting]="percentageFormatting"
            >
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="col-sm-4">
            <ngx-charts-advanced-pie-chart
              [view]="[undefined, 150]"
              [results]="advancedPieReceived"
              [animations]="animations"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              [scheme]="colorSchemeGOR"
              [label]="advancedPieReceivedLabel"
              [percentageFormatting]="percentageFormatting"
            >
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="col-sm-4">
            <ngx-charts-advanced-pie-chart
              [view]="[undefined, 150]"
              [results]="advancedPieLoad"
              [animations]="animations"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              [scheme]="colorSchemeGO"
              [label]="advancedPieLoadLabel"
              [percentageFormatting]="percentageFormatting"
            >
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm">
    <div class="card">
      <div class="card-header" translate="dashboard.devices.title"></div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <ngx-charts-advanced-pie-chart
              [view]="[undefined, 150]"
              [results]="advancedPieDevice"
              [animations]="animations"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              (select)="open('device', $event)"
              [scheme]="colorSchemeGO"
              [label]="advancedPieDeviceLabel"
              [percentageFormatting]="percentageFormatting"
            >
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="col-sm-4">
            <ngx-charts-advanced-pie-chart
              [view]="[undefined, 150]"
              [results]="advancedPieState"
              [animations]="animations"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              (select)="open('state', $event)"
              [scheme]="colorSchemeGRO"
              [label]="advancedPieStateLabel"
              [percentageFormatting]="percentageFormatting"
            >
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="col-sm-4">
            <ngx-charts-advanced-pie-chart
              [view]="[undefined, 150]"
              [results]="advancedPieBattery"
              [animations]="animations"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              (select)="open('battery', $event)"
              [scheme]="colorSchemeROG"
              [label]="advancedPieBatteryLabel"
              [percentageFormatting]="percentageFormatting"
            >
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
