<div class="col-12 card">
  <div class="card-header">
    <span class="fw-bold">{{ 'dashboard.trafic.title' | translate }}</span>
    <button
      *ngIf="!poll"
      class="d-none d-md-block btn btn-default btn-primary float-bottom float-end"
      (click)="refresh()"
      translate="dashboard.button.refresh"></button>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" *ngIf="pluginStats">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <div class="col">
          <div class="col-sm" [innerHTML]="'dashboard.health.title' | translate"></div>
          <div class="col-sm-1"></div>
          <div class="row">
            <ngx-charts-advanced-pie-chart
              [results]="advancedPieState"
              [animations]="animations"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              (select)="open('state', $event, test)"
              [scheme]="colorSchemeGBROG"
              [label]="advancedPieStateLabel"
              [percentageFormatting]="percentageFormatting">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="row">
            <div class="col-sm border-start border-3" [innerHTML]="'dashboard.health.comment' | translate"></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <div class="col">
          <div class="col-sm" [innerHTML]="'dashboard.traffic.title' | translate"></div>
          <div class="col-sm-1"></div>
          <div class="row">
            <ngx-charts-advanced-pie-chart
              [results]="advancedPieSent"
              [animations]="animations"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              [scheme]="colorSchemeBG"
              [label]="advancedPieSentLabel"
              [percentageFormatting]="percentageFormatting">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="row">
            <div class="col-sm border-start border-3" [innerHTML]="'dashboard.traffic.comment' | translate"></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <div class="col">
          <div class="col-sm" [innerHTML]="'dashboard.trend.title' | translate"></div>
          <div class="col-sm-1"></div>
          <div class="row">
            <div class="col-sm" [chart]="chart"></div>
          </div>
          <div class="row">
            <div class="col-sm border-start border-3" [innerHTML]="'dashboard.trend.comment' | translate"></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 card mt-2">
  <div class="card-header fw-bold">
    {{ 'dashboard.devices.title' | translate }}
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" *ngIf="pluginStats">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <div class="col">
          <div class="col-sm" [innerHTML]="'dashboard.device.title' | translate"></div>
          <div class="col-sm-1"></div>
          <div class="row">
            <ngx-charts-advanced-pie-chart
              [results]="advancedPieDevice"
              [animations]="animations"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              (select)="open('device', $event, test)"
              [scheme]="colorSchemePC"
              [label]="advancedPieDeviceLabel"
              [percentageFormatting]="percentageFormatting">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="row">
            <div class="col-sm border-start border-3" [innerHTML]="'dashboard.devices.comment' | translate"></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <div class="col">
          <div class="col-sm" [innerHTML]="'dashboard.battery.title' | translate"></div>
          <div class="col-sm-1"></div>
          <div class="row">
            <ngx-charts-advanced-pie-chart
              [results]="advancedPieBattery"
              [animations]="animations"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              (select)="open('battery', $event, test)"
              [scheme]="colorSchemeROBG"
              [label]="advancedPieBatteryLabel"
              [percentageFormatting]="percentageFormatting">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="row">
            <div class="col-sm border-start border-3" [innerHTML]="'dashboard.battery.comment' | translate"></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <div class="col">
          <div class="col-sm" [innerHTML]="'dashboard.optimized.title' | translate"></div>
          <div class="col-sm-1"></div>
          <div class="row">
            <ngx-charts-advanced-pie-chart
              [results]="advancedPieCertified"
              [animations]="animations"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              (select)="open('certified', $event, test)"
              [scheme]="colorSchemeGO"
              [label]="advancedCertifiedLabel"
              [percentageFormatting]="percentageFormatting">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="row">
            <div class="col-sm border-start border-3" [innerHTML]="'dashboard.optimized.comment' | translate"></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div #test class="d-flex justify-content-center"></div>

<div class="consent-banner" *ngIf="showConsent">
  <div class="consent-banner__inner">
    <div class="consent-banner__copy">
      <div class="consent-banner__header" [innerHtml]="'consent.banner.header' | translate"></div>
      <div class="consent-banner__description" [innerHtml]="'consent.banner.description' | translate"></div>
    </div>
    <div>
      <button (click)="consent(false)" class="col-sm-2 ms-3 btn btn-danger" translate="consent.banner.decline"></button>
      <button (click)="consent(true)" class="col-sm-2 ms-3 btn btn-primary" translate="consent.banner.accept"></button>
    </div>
  </div>
</div>
<p-dialog header="Header" [(visible)]="visible" [position]="'bottom'" [style]="{ width: '75vw' }">
  <ng-template pTemplate="header">
    <div class="col-sm" translate="dashboard.popup.device.header"></div>
  </ng-template>
  <h5 class="card-title" [innerHTML]="'dashboard.popup.device.subtitle' | translate"></h5>
  <p-table
    #dt1
    [rowHover]="true"
    styleClass="p-datatable-sm"
    responsiveLayout="scroll"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{{ 'TOTAL' | translate }}"
    [rowsPerPageOptions]="[10, 25, 50]"
    [value]="devicesToOverlay"
    [rows]="10"
    [paginator]="true"
    [scrollable]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 7rem" pSortableColumn="_NwkId">
          {{ 'device.byname.shortid.column' | translate }}<p-sortIcon field="_NwkId"></p-sortIcon>
        </th>
        <th style="width: 5rem" pSortableColumn="IEEE">
          {{ 'device.byname.ieee.column' | translate }}<p-sortIcon field="IEEE"></p-sortIcon>
        </th>
        <th style="width: 13rem" pSortableColumn="Model">
          {{ 'device.byname.model.column' | translate }}<p-sortIcon field="Model"></p-sortIcon>
        </th>
        <th style="width: 20rem" pSortableColumn="ZDeviceName">
          {{ 'device.byname.devicename.column' | translate }}<p-sortIcon field="ZDeviceName"></p-sortIcon>
        </th>
        <th style="width: 7rem" pSortableColumn="Status">
          {{ 'device.byname.status.column' | translate }}<p-sortIcon field="Status"></p-sortIcon>
        </th>
        <th style="width: 7rem" pSortableColumn="Battery">
          {{ 'device.byname.battery.column' | translate }}<p-sortIcon field="Battery"></p-sortIcon>
        </th>
        <th style="width: 6rem" pSortableColumn="Health">
          {{ 'device.byname.health.column' | translate }}<p-sortIcon field="Health"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-editing="editing"
      let-row
      let-rowIndex="rowIndex"
      let-columns="columns"
      let-expanded="expanded">
      <tr>
        <td>{{ row._NwkId }}</td>
        <td>{{ row.IEEE }}</td>
        <td>{{ row.Model }}</td>
        <td>{{ row.ZDeviceName }}</td>
        <td>{{ row.Status }}</td>
        <td>{{ row.Battery }}</td>
        <td>{{ row.Health }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
