.border-3 {
  border-width: 3px !important;
}

.consent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2147483645;
  box-sizing: border-box;
  width: 100%;

  background-color: #f1f6f4;
}

.consent-banner__inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 32px 0;
}

.consent-banner__copy {
  margin-bottom: 16px;
}

.consent-banner__header {
  margin-bottom: 8px;

  font-family: "CeraPRO-Bold", sans-serif, arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.consent-banner__description {
  font-family: "CeraPRO-Regular", sans-serif, arial;
  font-weight: normal;
  color: #838f93;
  font-size: 16px;
  line-height: 24px;
}

.card {
  --bs-card-border-width: none;
}
