<div class="card">
  <div class="card-header fw-bold">
    {{ 'device.byname.header' | translate }}
    <button
      [disabled]="!hasEditing"
      (click)="updateDevices()"
      class="btn btn-primary float-end"
      translate="{{ 'device.byname.validate.button' | translate }}"></button>
  </div>
  <div class="card-body">
    <p
      class="card-text"
      [innerHTML]="'group.create.subtitle' | translate"
      [innerHTML]="'device.byname.subtitle' | translate"></p>
    <div class="card-text">
      <input type="text" placeholder="{{ 'device.byname.placeholder' | translate }}" (keyup)="updateFilter($event)" />
      <ngx-datatable
        #table
        [rows]="rows"
        class="bootstrap"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="'auto'"
        [limit]="10"
        [rowHeight]="'auto'"
        [messages]="{
          emptyMessage: 'NODATA' | translate,
          totalMessage: 'TOTAL' | translate,
          selectedMessage: 'SELECTED' | translate
        }">
        <ngx-datatable-row-detail [rowHeight]="'auto'">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div style="padding-left: 35px">
              <div>
                <strong>{{ 'device.byname.devicename.param' | translate }} : </strong> {{ row.Param }}
              </div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>
        <ngx-datatable-column
          [sortable]="false"
          [maxWidth]="55"
          name="{{ 'device.byname.trash.column' | translate }}"
          prop="ConsistencyCheck">
          <ng-template let-expanded="expanded" let-row="row" ngx-datatable-cell-template>
            <a
              *ngIf="row.Param !== '{}'"
              href="javascript:void(0)"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row)">
            </a>
            <i
              *ngIf="
                row.ConsistencyCheck === 'not in DZ' ||
                row.ConsistencyCheck === 'Bad Pairing' ||
                !row.WidgetList ||
                row.WidgetList.length === 0
              "
              class="fa fa-trash"
              style="cursor: pointer"
              title="{{ 'device.byname.delete.colum' | translate }}"
              (click)="rowToDelete = row; open(content)"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [maxWidth]="65"
          [sortable]="false"
          name=" {{ 'device.byname.optimized.column' | translate }}">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <ng-container *ngIf="row.CertifiedDevice">
              <div
                (click)="copy(row)"
                ngbPopover="{{ 'device.byname.optimized.popover.text.ok' | translate }}"
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'device.byname.optimized.popover.title.ok' | translate }}">
                <div class="container">
                  <shared-custom-icon class="container__icon container__icon--green" iconName="CHECK_ICON">
                  </shared-custom-icon>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!row.CertifiedDevice">
              <div
                (click)="copy(row)"
                ngbPopover="{{ 'device.byname.optimized.popover.text.ko' | translate }}"
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'device.byname.optimized.popover.title.ko' | translate }}">
                <div class="container">
                  <shared-custom-icon class="container__icon container__icon--orange" iconName="X_ICON">
                  </shared-custom-icon>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [maxWidth]="100" name="{{ 'device.byname.shortid.column' | translate }}" prop="_NwkId">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row._NwkId }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [maxWidth]="150" name="{{ 'device.byname.ieee.column' | translate }}" prop="IEEE">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row.IEEE }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ 'device.byname.model.column' | translate }}" prop="Model">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row.Model }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ 'device.byname.widget.column' | translate }}" prop="WidgetList">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div *ngFor="let widget of row.WidgetList">
              {{ widget }}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ 'device.byname.devicename.column' | translate }}" prop="ZDeviceName">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <input
              autofocus
              (change)="updateValue($event, 'ZDeviceName', row._NwkId)"
              type="text"
              [value]="row.ZDeviceName" />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'device.byname.capabilities.column' | translate }}"
          [maxWidth]="130"
          prop="MacCapa">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div *ngFor="let capa of row.MacCapa">
              {{ capa }}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ 'device.byname.lqi.column' | translate }}" [maxWidth]="100" prop="LQI">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row.LQI }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ 'device.byname.status.column' | translate }}" [maxWidth]="100" prop="Status">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row.Status }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ 'device.byname.health.column' | translate }}" [maxWidth]="100" prop="Health">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row.Health }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [sortable]="false"
          [maxWidth]="100"
          name="{{ 'device.byname.devicename.param' | translate }}"
          prop="ZDeviceName">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <i class="fas fa-cog" style="cursor: pointer" (click)="rowParameter = row; editParameter(editContent)"></i>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate="device.byname.alert.title"></h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" translate="device.byname.alert.subject"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('erase')"
      translate="device.byname.alert.delete"></button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel')"
      translate="device.byname.alert.cancel"></button>
  </div>
</ng-template>

<ng-template #editContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate="device.byname.parameter.alert.title"></h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('cancel')"></button>
  </div>
  <div class="modal-body">
    <div [innerHTML]="'device.byname.parameter.alert.subject' | translate"></div>
    <div class="row mt-3">
      <div class="col-sm-12">{{ 'device.byname.devicename.param' | translate }} :</div>
      <div class="col-sm-12">
        <textarea (change)="parameter = $event" rows="5" cols="60">{{ rowParameter.Param }}</textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel')"
      translate="device.byname.parameter.alert.cancel"></button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('save')"
      translate="device.byname.parameter.alert.save"></button>
  </div>
</ng-template>
