<div class="text-center">
  <h1>
    <span translate>APP_NAME</span>
  </h1>
  <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
</div>
<div class="mt-5 row">
  <div class="col-sm text-center">
    The aim of the plugin is to bridge a ZigBee coordinator to the Domoticz Home Automation in order to communicate with
    objects using the ZigBee protocol.
    <p>
      For information around the Zigate Plugin, please refer to
      <a href="https://zigbeefordomoticz.github.io/wiki/en-eng" target="_blank"> Plugin Wiki (in english) </a>
    </p>
    <p>
      The small icone
      <a class="fas fa-info-circle me-2" href="https://zigbeefordomoticz.github.io/wiki/en-engWebUI_About"></a>
      links to the informations on the Wiki.
    </p>
  </div>
</div>
<div class="mt-3 row">
  <div class="col-sm text-center">
    <h3 class="mt-3">How to deal with issues and Questions</h3>
  </div>
</div>
<div class="mt-3 row">
  <div class="col-sm-2"></div>
  <div class="col-sm text-justify">
    <ul>
      <li>
        In case of question and problem please use the Domoticz Forum to ask your questions and/or problem.
        <p>
          You can either use the
          <a href="https://www.domoticz.com/forum/viewforum.php?f=68" target="_blank">English Domoticz forum</a> or if
          you want to interact in French you might want to use
        </p>
      </li>
    </ul>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="mt-3 row">
  <div class="col-sm text-center">
    <h3 class="mt-3">Come and discuss with us !</h3>
  </div>
</div>
<div class="mt-3 row">
  <div class="col-sm-2"></div>
  <div class="col-sm text-justify">
    <p>
      We are a small team We are a small team of enthusiasts who share the pleasure of using DomoticZ with ZigBee
      coordinators.
    </p>
    <p>
      Meet us on <a href="https://keybase.io" target="_blank">keybase.io</a> (team Zigate) for real time discussions.
    </p>
  </div>
  <div class="col-sm-2"></div>
</div>
<hr />
<div class="mt-3 row">
  <div class="col-sm text-center">
    <h3 class="mt-3">Thanks</h3>
  </div>
</div>
<div class="mt-3 row">
  <div class="col-sm-2"></div>
  <div class="col-sm text-justify">
    We would like to thank the manufacturers for providing us with equipment for developments :<br /><br />
    <ul>
      <li>@Fred from Lixee for <a href="https://zigate.fr/" target="_blank">ZiGate</a> and Lixee objects.</li>
      <li>
        @Omer from electrolama for
        <a href="https://shop.electrolama.com/" target="_blank">zzh Multiprotocol RF Stick</a> objects.
      </li>
      <li>
        @NilsBohr from Elelabs for <a href="https://elelabs.com/" target="_blank">Elelabs Zigbee USB Adapter</a> Silicon
        Labs EZSP objects.
      </li>
      <li>@Fabrice whom kindly provided a set of Legrand objects.</li>
      <li>
        @erwan whom kindly provided a set of <a href="https://casaia.fr/boutique/" target="_blank"> Casa.IA</a>objects
      </li>
    </ul>

    <br />
    We would like to thank those who contributed to the project. In particular :<br /><br />
    <ul>
      <li>
        Plugin developpers : @zaraki673, @Pipiche38, @2m2, @d2e2n2o, @karstenbakker, @ricky74, @sbhc68, @thiklop, @deufo
        et @badz
      </li>
      <li>Web Admin interface developer : @ben33880</li>
      <li>
        Web Admin interface translation : @gemies et @marktn (for Dutch translation), @martial83, @hydci et @jp-keros
        (for French translation)
      </li>
      <li>Wiki writters : @Pipiche38 et @jp-keros</li>
      <li>
        Wik translation : @karstenbakker (for Dutch translation), @jp-keros et @newturtle (for French translation),
        @erwan (for Spanish translation)
      </li>
    </ul>
    But also all the testers and users who have given us information on the forums or via Keybase.
    <br />
    <br />
    <br />
    <p>
      Last I would like to express my gratitude to the great users whom have supported (by donation) this project. It
      helping to purchase devices in order to test, integrate and certify them.
    </p>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="mt-3 row">
  <div class="col-sm text-center">
    <a href="https://www.paypal.com/paypalme/pipiche" target="_blank">Paypal Cagnotte pipiche</a>
  </div>
</div>

<hr />
<div class="text-center">@pipiche38 - 2018 - 2022</div>
<br />
