<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="https://github.com/sasu-drooz/Domoticz-Zigate"
      ><img class="img-responsive logo" src="assets/zigate_logo.png" alt="angular logo" />
    </a>

    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      aria-controls="appNavigation"
      aria-expanded="!menuHidden"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="appNavigation"
      class="collapse navbar-collapse float-xs-none h-100 justify-content-between"
      [ngbCollapse]="menuHidden"
    >
      <ul class="navbar-nav h-100">
        <li ngbDropdown routerLinkActive="active" class="dropdown ">
          <a class="nav-item nav-link mx-2" routerLink="/dashboard" routerLinkActive="active">
            <i class="fas fa-home"></i>
            <span translate>dashboard</span>
          </a>
        </li>
        <li ngbDropdown routerLinkActive="active" class="nav-item dropdown">
          <a class="nav-link nav-item dropdown-toggle" id="dropdownSede" ngbDropdownToggle translate="management"></a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownSede">
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              routerLink="/device"
              routerLinkActive="active"
            >
              <i class="fas fa-tablet mr-2"></i> <span translate="device"></span>
            </li>
            <li
              class="dropdown-item nav-link nav-item"
              (click)="toggleMenu()"
              routerLink="/group"
              routerLinkActive="active"
            >
              <i class="fas fa-layer-group mr-2"></i> <span translate="group"></span>
            </li>
          </ul>
        </li>
        <li ngbDropdown routerLinkActive="active" class="dropdown ">
          <a class="nav-item nav-link mx-2" routerLink="/network" routerLinkActive="active">
            <i class="fas fa-wifi"></i>
            <span translate>network</span>
          </a>
        </li>
        <li ngbDropdown routerLinkActive="active" class="dropdown ">
          <a class="nav-item nav-link mx-2" routerLink="/admin" routerLinkActive="active">
            <i class="fas fa-user"></i>
            <span translate>admin</span>
          </a>
        </li>
        <li ngbDropdown routerLinkActive="active" class="dropdown ">
          <a class="nav-item nav-link mx-2" routerLink="/settings" routerLinkActive="active">
            <i class="fas fa-cog"></i>
            <span translate>settings</span>
          </a>
        </li>
        <li ngbDropdown routerLinkActive="active" class="dropdown ">
          <a class="nav-item nav-link mx-2" routerLink="/tools" routerLinkActive="active">
            <i class="fas fa-toolbox"></i>
            <span translate>tools</span>
          </a>
        </li>
        <li ngbDropdown routerLinkActive="active" class="dropdown ">
          <a class="nav-item nav-link mx-2" routerLink="/about" routerLinkActive="active">
            <i class="fas fa-question-circle"></i>
            <span translate>About</span>
          </a>
        </li>
      </ul>

      <div *ngIf="restart" class="navbar-nav ml-auto">
        <div class="nav-item d-flex align-items-center border-left pl-5" ngbDropdown placement="bottom">
          <div class="mr-3">
            <a class="nav-item nav-link mx-2" routerLink="/admin" routerLinkActive="active">
              <i
                ngbPopover="{{ 'header.popover.text' | translate }}"
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'header.popover.title' | translate }}"
                class="fa fa-2x fa-exclamation-circle blink"
              ></i>
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="nav-item d-flex align-items-center border-left pl-3" ngbDropdown placement="bottom-right">
          <div class="switch switch-sm mr-2 pr-2">
            <input [checked]="permitChecked" (click)="permit($event)" type="checkbox" class="switch" id="switch-sm" />
            <label class="mb-0" for="switch-sm" translate="admin.permittojoin.label"></label>
          </div>
          <div>
            <a id="language-dropdown" class="border-left pl-3 nav-link" ngbDropdownToggle>{{ currentLanguage }}</a>
            <div ngbDropdownMenu aria-labelledby="language-dropdown">
              <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
                {{ language }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
