<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="https://github.com/zigbeefordomoticz/Domoticz-Zigbee"
      ><img class="img-responsive logo" src="assets/z4d_logo.png" alt="Logo" />
    </a>

    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      aria-controls="appNavigation"
      aria-expanded="!menuHidden"
      aria-label="Toggle navigation"
      (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="appNavigation"
      class="collapse navbar-collapse float-xs-none h-100 justify-content-between"
      [ngbCollapse]="menuHidden">
      <ul class="navbar-nav h-100">
        <li ngbDropdown routerLinkActive="active" class="dropdown">
          <a class="nav-item nav-link mx-2" routerLink="/dashboard" routerLinkActive="active">
            <i class="fas fa-home"></i>
            <span>{{ plugin?.Name }}</span>
          </a>
        </li>
        <li ngbDropdown routerLinkActive="active" class="nav-item dropdown">
          <a class="nav-link nav-item dropdown-toggle" id="dropdown1" ngbDropdownToggle translate="management"></a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown1">
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              routerLink="/device"
              routerLinkActive="active">
              <i class="fas fa-tablet mr-2"></i> <span translate="device"></span>
            </li>
            <li
              class="dropdown-item nav-link nav-item"
              (click)="toggleMenu()"
              routerLink="/group"
              routerLinkActive="active">
              <i class="fas fa-layer-group mr-2"></i> <span translate="group"></span>
            </li>
          </ul>
        </li>
        <li ngbDropdown routerLinkActive="active" class="nav-item dropdown">
          <a class="nav-link nav-item dropdown-toggle" id="dropdown2" ngbDropdownToggle translate="network"></a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown2">
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              routerLink="/network/topology"
              routerLinkActive="active">
              <i class="fas fa-wifi mr-2"></i> <span translate="network.topo"></span>
            </li>
            <li
              *ngIf="!plugin?.Zigpy"
              class="dropdown-item nav-link nav-item"
              (click)="toggleMenu()"
              routerLink="/network/energy-level"
              routerLinkActive="active">
              <i class="fas fa-broadcast-tower mr-2"></i> <span translate="network.energy"></span>
            </li>
          </ul>
        </li>

        <li ngbDropdown routerLinkActive="active" class="nav-item dropdown">
          <a class="nav-link nav-item dropdown-toggle" id="dropdown4" ngbDropdownToggle translate="admin"></a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown4">
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              [routerLink]="['/admin']"
              [queryParams]="{ action: 'plugin' }"
              routerLinkActive="active">
              <i class="fas fa-satellite-dish mr-2"></i> <span translate="admin.plugin"></span>
            </li>
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              [routerLink]="['/admin']"
              [queryParams]="{ action: 'pairing' }"
              routerLinkActive="active">
              <i class="fab fa-usb mr-2"></i> <span translate="admin.pairing"></span>
            </li>
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              [routerLink]="['/admin']"
              [queryParams]="{ action: 'group' }"
              routerLinkActive="active">
              <i class="fas fa-layer-group mr-2"></i> <span translate="admin.group"></span>
            </li>
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              [routerLink]="['/admin']"
              [queryParams]="{ action: 'coordinator' }"
              routerLinkActive="active">
              <i class="fas fa-user mr-2"></i> <span translate="admin.coordinator"></span>
            </li>
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              [routerLink]="['/admin/firmware']"
              routerLinkActive="active">
              <i class="fas fa-retweet mr-2"></i> <span translate="admin.firmware"></span>
            </li>
          </ul>
        </li>

        <li ngbDropdown routerLinkActive="active" class="dropdown">
          <a class="nav-item nav-link mx-2" routerLink="/settings" routerLinkActive="active">
            <i class="fas fa-cog"></i>
            <span translate>settings</span>
          </a>
        </li>
        <li ngbDropdown routerLinkActive="active" class="nav-item dropdown">
          <a class="nav-link nav-item dropdown-toggle" id="dropdown3" ngbDropdownToggle translate="tools"></a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown3">
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              routerLink="/tools/link"
              routerLinkActive="active">
              <i class="fas fa-toolbox mr-2"></i> <span translate="tools"></span>
            </li>
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              routerLink="/tools/command"
              routerLinkActive="active">
              <i class="fas fa-lightbulb mr-2"></i> <span translate="command"></span>
            </li>
            <li
              *ngIf="plugin?.Zigpy"
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              routerLink="/tools/configure"
              routerLinkActive="active">
              <i class="fas fa-user-cog mr-2"></i> <span translate="reporting.configure"></span>
            </li>
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              routerLink="/tools/binding"
              routerLinkActive="active">
              <i class="fas fa-compress-arrows-alt mr-2"></i> <span translate="binding"></span>
            </li>
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              routerLink="/tools/debug"
              routerLinkActive="active">
              <i class="fas fa-wrench mr-2"></i> <span translate="debug"></span>
            </li>
            <li
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              routerLink="/tools/error"
              routerLinkActive="active">
              <i class="fas fa-bug mr-2"></i> <span translate="error"></span>
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          routerLinkActive="active"
          class="nav-item dropdown test"
          *ngIf="showManufacturerCasaia || showManufacturerZlinky">
          <a class="nav-link nav-item dropdown-toggle" id="dropdown2" ngbDropdownToggle translate="manufacturer"></a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown2">
            <li
              *ngIf="showManufacturerCasaia"
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              routerLink="/manufacturer/casaia"
              routerLinkActive="active">
              <img style="width: 50%; height: 50%" src="assets/logo-casa.svg" />
            </li>
            <li
              *ngIf="showManufacturerZlinky"
              class="dropdown-item nav-item nav-link"
              (click)="toggleMenu()"
              routerLink="/manufacturer/zlinky"
              routerLinkActive="active">
              <img style="width: 30%; height: 30%" src="https://lixee.fr/img/prestashop-logo-1599316711.jpg" />
            </li>
          </ul>
        </li>

        <li ngbDropdown routerLinkActive="active" class="dropdown">
          <a class="nav-item nav-link mx-2" routerLink="/about" routerLinkActive="active">
            <i class="fas fa-question-circle"></i>
            <span translate>About</span>
          </a>
        </li>
      </ul>

      <div *ngIf="restart" class="navbar-nav ml-auto">
        <div class="nav-item d-flex align-items-center border-left pl-5" ngbDropdown placement="bottom">
          <div class="mr-3">
            <a
              class="nav-item nav-link mx-2"
              [routerLink]="['/admin']"
              [queryParams]="{ action: 'plugin' }"
              routerLinkActive="active">
              <i
                ngbPopover="{{ 'header.popover.text' | translate }}"
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'header.popover.title' | translate }}"
                class="fa fa-2x fa-exclamation-circle blink"></i>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="logError" class="navbar-nav ml-auto">
        <div class="nav-item d-flex align-items-center border-left pl-5" ngbDropdown placement="bottom">
          <div class="mr-3">
            <a class="nav-item nav-link mx-2" [routerLink]="['/tools/error']" routerLinkActive="active">
              <i
                ngbPopover="{{ 'error.popover.text' | translate }}"
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'error.popover.title' | translate }}"
                class="fa fa-2x fa-exclamation-triangle blink"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-nav ml-auto d-flex align-items-center">
        <div class="nav-item border-left pl-3">
          <div class="switch switch-sm mr-2 pr-2">
            <input [(ngModel)]="permitChecked" (click)="permit($event)" type="checkbox" id="switch-sm" />
            <label class="mb-0" for="switch-sm" translate="admin.permittojoin.label"></label>
          </div>
        </div>
        <div class="nav-item border-left" ngbDropdown placement="bottom">
          <div>
            <a id="language-dropdown" class="nav-link pl-3" ngbDropdownToggle
              ><img class="img-responsive" style="width: 1.25rem" src="assets/{{ currentFlag }}" />
              {{ currentLanguage }}</a
            >
            <div ngbDropdownMenu aria-labelledby="language-dropdown">
              <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
                <img class="img-responsive" style="width: 1.25rem" src="assets/{{ language.flag }}" />
                {{ language.code }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
