@import "theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

a:not([href]):not([tabindex]) {
  cursor: pointer;
}

.dropdown-menu {
  cursor: pointer;
}

.logo {
  width: 50px;
}

li.test {
  .dropdown-item.active,
  .dropdown-item:active {
    color: transparent;
    text-decoration: none;
    background-color: transparent;
  }
}
