<form [formGroup]="form" *ngIf="settings">
  <fieldset class="h-100">
    <legend>
      <div class="row">
        <div class="col-sm-8" [innerHTML]="'setting.help.legend' | translate"></div>
        <div class="col-sm-4">
          <div class="d-flex flex-row-reverse align-items-center">
            <div class="p-2">
              <button
                [disabled]="!form.valid"
                (click)="updateSettings()"
                class="btn btn-primary"
                translate="setting.validate.button"></button>
            </div>
            <div class="p-2 ml-3">
              <button (click)="reinitSettings()" class="btn btn-secondary" translate="setting.reinit.button"></button>
            </div>
            <div class="switch switch-sm">
              <input
                [checked]="advanced"
                (click)="advancedSettings($event)"
                type="checkbox"
                class="switch"
                id="switch-advanced" />
              <label class="mb-0" for="switch-advanced" translate="setting.advanced.button"></label>
            </div>
          </div>
        </div>
      </div>
    </legend>
    <h5 class="card-title" [innerHTML]="'setting.help.link' | translate"></h5>
  </fieldset>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <div *ngFor="let listOfSettings of settings">
      <div class="card" *ngIf="hasBasicSettings(listOfSettings.ListOfSettings)">
        <div class="card-header" [innerHTML]="getTranslation('setting.header.', listOfSettings._Theme)"></div>
        <div class="card-body">
          <div class="card-title">
            <h5 [innerHTML]="getTranslation('setting.subtitle.', listOfSettings._Theme)"></h5>
          </div>
          <div class="card-text">
            <ng-container *ngFor="let setting of listOfSettings.ListOfSettings">
              <app-setting [setting]="setting" [advanced]="advanced"></app-setting>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #contentRestart let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate="setting.reloadplugin.alert.title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" translate="setting.reloadplugin.alert.subject"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel')"
      translate="setting.reloadplugin.alert.cancel"></button>
  </div>
</ng-template>

<ng-template #contentReset let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate="setting.resetplugin.alert.title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" translate="setting.resetplugin.alert.subject"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel')"
      translate="setting.resetplugin.alert.cancel"></button>
  </div>
</ng-template>

<ng-template #contentErase let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate="setting.eraseplugin.alert.title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" translate="setting.eraseplugin.alert.subject"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel')"
      translate="setting.eraseplugin.alert.cancel"></button>
  </div>
</ng-template>
