<div class="container-fluid">
  <form [formGroup]="form" *ngIf="settings$ | async as data">
    <div class="row float-right">
      <button (click)="updateSettings()" class="btn btn-primary" translate="setting.validate.button"></button>
    </div>

    <div class="row">
      <div *ngFor="let listOfSettings of data" class="mt-3 col-sm-6">
        <div class="card">
          <div class="card-header" translate="{{ listOfSettings._Theme }}"></div>
          <div class="card-body">
            <div class="card-title">
              <h5 translate="setting.subtitle"></h5>
            </div>
            <div class="card-text">
              <ng-container *ngFor="let setting of listOfSettings.ListOfSettings">
                <app-setting [setting]="setting"></app-setting>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
