<fieldset class="h-100">
  <div class="switch switch-sm mr-2 pr-2 float-right">
    <input
      [checked]="advanced"
      (click)="advancedSettings($event)"
      type="checkbox"
      class="switch"
      id="switch-advanced"
    />
    <label class="mb-0" for="switch-advanced" translate="setting.advanced.button"></label>
  </div>

  <legend translate="setting.help.legend"></legend>
  <a
    href="https://github.com/pipiche38/Domoticz-Zigate-Wiki/blob/master/en-eng/PluginConf.txt.md"
    translate="setting.help.link"
    target="_blank"
  ></a>
</fieldset>
<div class="mt-3">
  <form [formGroup]="form" *ngIf="settings$ | async as data">
    <div class="row">
      <div class="col-sm-11 card-columns">
        <div *ngFor="let listOfSettings of data">
          <div class="card">
            <div class="card-header" translate="setting.header.{{ listOfSettings._Theme }}"></div>
            <div class="card-body">
              <div class="card-title">
                <h5 translate="setting.subtitle.{{ listOfSettings._Theme }}"></h5>
              </div>
              <div class="card-text">
                <ng-container *ngFor="let setting of listOfSettings.ListOfSettings">
                  <app-setting [setting]="setting" [advanced]="advanced"></app-setting>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
        <button
          [disabled]="!form.valid"
          (click)="updateSettings()"
          class=" w-100 btn btn-primary"
          translate="setting.validate.button"
        ></button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm-1">
        <button
          [disabled]="!form.valid"
          (click)="updateSettings()"
          class="btn btn-primary w-100"
          translate="setting.validate.button"
        ></button>
      </div>
    </div>
  </form>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate="setting.reloadplugin.alert.title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" translate="setting.reloadplugin.alert.subject"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel')"
      translate="setting.reloadplugin.alert.cancel"
    ></button>
  </div>
</ng-template>
